﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.Master.User.MasterUserViewModel

@using (Html.BeginForm(null,null,FormMethod.Post, new { id = "frm", name = "frm" }))
{

    <table class="table">
        @Html.HiddenFor(m => m.ID)
        <tr>
            <td colspan=2>
                <h4>Account</h4>
            </td>
        </tr>
		<tr >
			<td>
                <label>Full Name</label>
                @Html.TextBoxFor(m => m.Fullname, new { style = "width:200px", @class = "form-control form-control-sm", maxlength = "50", @readonly = "true" })

                <label>Email</label>
                @Html.TextBoxFor(m => m.Email, new { style = "width:200px", @class = "form-control form-control-sm", maxlength = "50", @readonly = "true" })

                <label>Role <span class="text-danger font-weight-bold">*</span></label>
                @Html.DropDownListFor(m => m.RoleID, new SelectList(Model.ListRole, "Value", "Text"), "Select" ,
                htmlAttributes: new {id = "GetRoleID", @class = "form-control form-control-sm", style= "width:140px"})
                @Html.ValidationMessageFor(m => m.RoleID)
            </td>
			<td>
                <label>Company Name</label>
                @Html.TextBoxFor(m => m.CompanyName, new { style = "width:200px", @class = "form-control form-control-sm", maxlength = "50", @readonly = "true" })

                 <label>Phone Number</label>
                @Html.TextBoxFor(m => m.PhoneNumber, new { style = "width:200px", @class = "form-control form-control-sm", maxlength = "50", @readonly = "true" })

                <label class="d-block">IsActive <span class="text-danger font-weight-bold">*</span></label>
                @Html.CheckBoxFor(m => m.IsActive )
                Is Active?
            </td>
		</tr>
        <tr>
            <td colspan="2">
                <label>Status Account</label>
                <select class="form-control form-control-sm" asp-for="Status">
                    <option value="Aktif">Aktif</option>
                    <option value="Registered">Registered</option>
                    <option value="LinkedAccount">LinkedAccount</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>Certificate</p>
                @if (Model.Certificate != null)
               {
                    <img src="@Model.Certificate" alt="Sertifikat User" height="200px">
               }else{
                    <img src="~/Image/default.png" alt="Sertifikat User" height="200px">
               }
            </td>
        </tr>

        <tr style="border-top:3px solid black">
            <td colspan=2>
                <h4>Identity</h4>
            </td>
        </tr>
         
        <tr >
			<td>
                <label>First Name</label>
                @Html.TextBoxFor(m => m.FirstName, new { style = "width:200px", @class = "form-control form-control-sm", maxlength = "50", @readonly = "true" })
                <label>Midle Name</label>
                @Html.TextBoxFor(m => m.MiddleName, new { style = "width:200px", @class = "form-control form-control-sm", maxlength = "50", @readonly = "true" })
                <label>Last Name</label>
                @Html.TextBoxFor(m => m.LastName, new { style = "width:200px", @class = "form-control form-control-sm", maxlength = "50", @readonly = "true" })
            </td>
			<td>
                <label>NIK</label>
                @Html.TextBoxFor(m => m.NIK, new { style = "width:200px", @class = "form-control form-control-sm", maxlength = "50", @readonly = "true" })
                <label>Address</label>
                @Html.TextAreaFor(m => m.Address, new { style = "width:200px", @class = "form-control form-control-sm", maxlength = "200", @readonly = "true" })
            </td>
		</tr>
        <tr >
			<td>
                <label>Birth Place</label>
                @Html.TextBoxFor(m => m.BirthPlace, new { style = "width:200px", @class = "form-control form-control-sm", maxlength = "50", @readonly = "true" })
            </td>
			<td>
                <label>Birth Date</label>
                @(Html.Kendo().DatePicker()
					  .Name("BirthDate")
					  .Start(CalendarView.Month)
					  .Format("dd/MM/yyyy")
					  .Value(Model.BirthDate)
					  .DateInput()
                      .HtmlAttributes(new { @class = "form-control form-control-sm",  @readonly = "true"})
					  )
            </td>
		</tr>
        <tr>
            <td colspan="2">
                <p>Tanda Tangan</p>
                @if (Model.Signature != null)
               {
                    <img src="@Model.Signature" alt="Tanda Tangan User" height="200px">
               }else{
                    <img src="~/Image/default.png" alt="Tanda Tangan User" height="200px">
               }
            </td>
        </tr>


 @*       <tr style="border-top:3px solid black">
            <td colspan=2>
                <h4>Upload</h4>
            </td>
        </tr>
        <tr>
            <td>
                <label>KTP</label>
                <input type="file" class="form-control-file" id="KTPFile">
            </td>
            <td>
                <label>Photo</label>
                <input type="file" class="form-control-file" id="PhotoFile">
            </td>
        </tr>*@
		
	</table>

    <br />

    <div class="col-md-5">
        <button type="submit" id="btnSave" class="btn btn-success">
            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>  Save
        </button>
        <a href="cancel" id="btnCancel" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>  Cancel
        </a>
    </div>
}


<script type="text/javascript">

    $(function() {
        if ($("#state").val() === "edit") {
            $("#code").addClass("k-state-readonly").attr("readonly", true);
        }
        $("#btnCancel").click(Index.Close);
        $("#btnSave").click(Index.Save);


        //$("#Fullname").style('opacity', 0.8);

        $("#Fullname").prop("readonly", true);
        $("#Email").prop("readonly", true);
        $("#CompanyName").prop("readonly", true);
        $("#PhoneNumber").prop("readonly", true);
        $("#FirstName").prop("readonly", true);
        $("#MiddleName").prop("readonly", true);
        $("#LastName").prop("readonly", true);
        $("#NIK").prop("readonly", true);
        $("#Address").prop("readonly", true);
        //$("#BirthDate").data('kendoDatePicker').enable(false);
        //$("#CompanyName").style('opacity', 0.8);
    });//(jQuery);
</script>
