﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.Security.RegisterAdminViewModel
@{
    ViewData["Title"] = "Add User Admin";
}
<style>
    .row{
        padding-top: 20px;
    }
</style>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmUserAdmin", name = "frmUserAdmin" }))
        {
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label>Username</label>
                    @Html.Kendo().TextBoxFor(model => model.Username).HtmlAttributes(new { @class = "form-control", @required = true, @autocomplete = "off" })
                </div>
                <div class="col-md-6 col-sm-12">
                    <label>Email</label>
                    @Html.Kendo().TextBoxFor(model => model.Email).HtmlAttributes(new { @class = "form-control", @required = true, @autocomplete = "off", @type="email" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label>Password</label>
                    @Html.Kendo().TextBoxFor(model => model.Password).HtmlAttributes(new {@class = "form-control", @required = true, @type = "password" })
                </div>
                <div class="col-md-6 col-sm-12">
                    <label>Confirm Password</label>
                    @Html.Kendo().TextBoxFor(model => model.ConfirmPassword).HtmlAttributes(new {@class = "form-control", @type = "password", @required = true})
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label>Phone Number</label>
                    @Html.Kendo().TextBoxFor(model => model.PhoneNumber).HtmlAttributes(new { @class = "form-control", @required = true, @autocomplete = "off" })
                </div>
                <div class="col-md-6 col-sm-12">
                    <label>Company Name</label>
                    @Html.Kendo().TextBoxFor(model => model.CompanyName).HtmlAttributes(new {@class = "form-control", @autocomplete = "off", @required = true})
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <label>First Name</label>
                    @Html.Kendo().TextBoxFor(model => model.FirstName).HtmlAttributes(new { @class = "form-control", @autocomplete = "off", @required = true })
                </div>
                <div class="col-md-4 col-sm-12">
                    <label>Middle Name</label>
                    @Html.Kendo().TextBoxFor(model => model.MidleName).HtmlAttributes(new {@class = "form-control", @autocomplete = "off", @required = true})
                </div>
                <div class="col-md-4 col-sm-12">
                    <label>Last Name</label>
                    @Html.Kendo().TextBoxFor(model => model.LastName).HtmlAttributes(new { @class = "form-control", @autocomplete = "off", @required = true })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label>Role Admin</label>
                    @(Html.Kendo().DropDownListFor(model => model.RoleID)
                                 .HtmlAttributes(new { @class = "form-control", @autocomplete = "off", @required = true })
                                 .OptionLabel("Select Role...")
                                 .DataTextField("Name")
                                 .DataValueField("ID")
                                 .DataSource(source => source
                                 .Custom()
                                 .ServerFiltering(true)
                                 .Transport(transport => transport
                                 .Read(read =>
                                 {
                                    read.Action("GetRoleAdmin", "User");
                                 }))
                                 ))
                </div>
                <div class="col-md-6 col-sm-12">
                    <label>NIK</label>
                    @Html.Kendo().TextBoxFor(model => model.NIK).HtmlAttributes(new {@class = "form-control", @autocomplete = "off", @required = true})
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label>Birth Place</label>
                    @Html.Kendo().TextBoxFor(model => model.BirthPlace).HtmlAttributes(new { @class = "form-control", @autocomplete = "off", @required = true })
                </div>
                <div class="col-md-6 col-sm-12">
                    <label>Birth Date</label>
                    @Html.Kendo().DatePickerFor(model => model.BirthDate).HtmlAttributes(new {@class = "form-control", @required = true }).DateInput()
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label>Address</label>
                    @Html.Kendo().TextAreaFor(model => model.Address).Rows(3).Resize(TextAreaResize.Vertical).Overflow(TextAreaOverflow.Visible).Size(ComponentSize.Large).HtmlAttributes(new { @class = "form-control", @required = true })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div id="ktp-contain"></div>
                    <label class="d-block">KTP</label>
                    <input type="file" class="form-control-file" id="KTPFile">
                </div>
                <div class="col-md-6 col-sm-12">
                    <div id="photo-contain"></div>
                    <label class="d-block">Photo</label>
                    <input type="file" class="form-control-file" id="PhotoFile" onchange="document.getElementById('photo-preview').src = window.URL.createObjectURL(this.files[0])">
                </div>
            </div>
        }
        <button class="btn btn-secondary mt-3" id="back">Back</button>
        <button class="btn btn-primary mt-3" id="save">Submit</button>

    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        const actionUrl = `@Url.Action("Create", "User")`;
        const urlIndex = '@Url.Action("Index", "User")';
    </script>
    <script src="@Url.Content("~/js/user.js")"></script>
}
