﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.Master.User.MasterUserViewModel
@{
	ViewData["Title"] = "User";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <a href="javascript:;" class="btn btn-primary" id="btnCreate" title="Create"><span class="fa fa-plus-circle"></span> Add New Admin</a>
        <br />
        <br />
      
        @using (Html.BeginForm())
        {

            @(Html.Kendo().Grid<DigitalSign.ViewModels.Master.User.MasterUserViewModel>()
                        .Name("grid")
                        .Scrollable(s => s.Height("auto"))
                        .Columns(columns =>
                        {

                            columns.Bound(p => p.Username);
                            columns.Bound(p => p.TilakaName).Title("Tilaka Name");
                            columns.Bound(p => p.Fullname);
                            columns.Bound(p => p.Email);
                            columns.Bound(p => p.CompanyName);
                            columns.Bound(p => p.RoleName);
                            columns.Bound(p => p.Status);
                            columns.Bound("").ClientTemplate("# if (Certificate != null) { #" +
	                            "<img src='#= Certificate #' alt='Belum Di Upload' style='width:100px;height100px;' />" +
                            "# } else { #" +
	                            "Belum Di Upload" +
                            "# } #").Title("Certificate").HtmlAttributes(new { style = "text-align: center" });
                            columns.Bound("").ClientTemplate("# if (Signature != null) { #" +
	                            "<img src='#= Signature #' alt='Belum Di Buat' style='width:100px;height100px;' />" +
	                            "<a class='btn btn-danger btn-sm reset-signature' onClick='resetSign(this)' data-id='#= ID #'><i class='fa fa-sync-alt'></i> Reset</a>" +
                            "# } else { #" +
	                            "Belum Di Buat" +
                            "# } #").Title("Signature").HtmlAttributes(new { style = "text-align: center" });   
                            columns.Bound("").ClientTemplate(@"#
                                if(IsActive)
                                {
                                    #<i class='fa fa-check isactive'></i>#
                                }
                                else{
                                    #<i class='fa fa-close isactive'></i>#
                                }#").Title("IsActive").HtmlAttributes(new { style = "text-align: center" });
                            columns.Bound("").ClientTemplate(@"<button class='btn btn-sm btn-warning edit-action' data-id='#=ID#' onclick='Index.Edit(event)' title='Edit'><i class='fa fa-pencil-alt'></i></button>").Title("Action").HtmlAttributes(new { style = "text-align: center" });
                        })                          
                        .Pageable()
                        .Sortable()
                        .Filterable()
                        .Events(x => x.DataBound("AfterLoad"))
                        .Resizable(re => re.Columns(true))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(10)
                                    .Read(read => read.Action("UserList", "User"))
                        )
            )
            @Html.Hidden("state", "")
        }

    </div>
</div>

<div id="popUp"></div>
<div id="popUpHistory"></div>

<script type="text/javascript">

    $(function () {
        var windowOptions = {
            animation: false,
            modal: true,
            width: 530,
            height: 700,
            visible: false,
            title: 'Form User'
        };
        var windowOptionsHistory = {
            animation: false,
            modal: true,
            width: 800,
            height: 500,
            visible: false,
            title: 'History'
        };
        var getRole = '@ViewBag.Rolename';
        if(getRole != 'Admin')
        {
            $(".edit-action").css("display", "none");
        } else {
            $(".edit-action").css("display", "flex");
        }
        $("#btnCreate").click(Index.Add);
        $("#popUp").kendoWindow(windowOptions);
        $("#frm").kendoValidator().data("kendoValidator");
        $("#popUpHistory").kendoWindow(windowOptionsHistory);

    });
 
    function AfterLoad() {
        $("td a").removeClass("k-button");
    };
    
    function resetSign(e){
        var id = e.getAttribute("data-id");
        $.ajax({
            type: "POST",
            data: { id: id },
            url: "@Url.Action("ResetSignature")",
            success: function (result) {
                if (result.isSucceed) {
                    $("#grid").data("kendoGrid").dataSource.read();
                    $("#grid").data("kendoGrid").refresh();
                    swal("Success!", result.Message, "success");
                } else {
                    swal("Failed!", result.Message,"error");
                }

            },
            error: function (err) {
                hideProgress();
                swal("Something went wrong!", err.Message, "error");
            }
        });
    }
    
    var Index = (function ($) {
        return {
            Add: function (e) {
                e.preventDefault();
                    window.location.href = "@Url.Action("Create")";
            },
            History: function (e) {
                e.preventDefault();
                $(".k-window-title").html("History");
                var dataRow = this.dataItem($(e.currentTarget).closest("tr"));
                $("#popUpHistory").data("kendoWindow").refresh({
                    url: "@Url.Action("History")",
                    data: { code: dataRow.Code }
                });
                $("#state").val("history");
                $("#popUpHistory").data("kendoWindow").center().open();
            },
            Edit: function (e) {
                e.preventDefault();
                $(".k-window-title").html("Edit User");
                //var dataRow = this.dataItem($(e.currentTarget).closest("tr"));
                var id = e.currentTarget.getAttribute("data-id");
                $("#popUp").data("kendoWindow").refresh({
                    url: "@Url.Action("Edit")",
                    data: { id: id }
                });
                $("#state").val("edit");
                $("#popUp").data("kendoWindow").center().open();
            },
            UploadKTP: function (e) {
				e.preventDefault();
				$("#popUpUpload").data("kendoWindow").refresh({
					url: "@Url.Action("Upload")"
				});

				$("#state").val("add");
				$("#popUpUpload").data("kendoWindow").center().open();
			},
            Delete: function (e) {
                e.preventDefault();
                var dataRow = this.dataItem($(e.currentTarget).closest("tr"));
                swal({
                    title: "Are you sure?",
                    text: "This operation cannot be undone!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },

                    function (isConfirm) {
                        if (isConfirm) {
                            showProgress();
                            console.log(dataRow.ID);
                            $.ajax({
                                type: "POST",
                                data: { id: dataRow.ID },
                                //           async: false,
                                url: "@Url.Action("Delete")",
                                success: function (result) {
                                    if (result.isSucceed) {
                                        hideProgress();
                                        $("#grid").data("kendoGrid").dataSource.read();
                                        $("#grid").data("kendoGrid").refresh();
                                        swal("Deleted!", "Your file has been deleted", "success");
                                    } else {
                                        hideProgress();
                                        swal("Something went wrong!", result.Message, "error");
                                    }

                                },
                                error: function (err) {
                                    //alert(err.Message);
                                    hideProgress();
                                    swal("Something went wrong!", err.Message, "error");
                                }
                            });
                        }
                        else {
                            //hideProgress();
                            swal("Cancelled", "", "error");
                        }
                    });
            },

            Close: function (e) {
                e.preventDefault();
                $("#popUp").data("kendoWindow").close();
            },

            Save: function (e) {
                showProgress();
                e.preventDefault();
                if ($("#state").val() === "edit") {
                    url = "@Url.Action("Edit")";
                } else if
                    ($("#state").val() === "add") {
                    url = "@Url.Action("Create")";
                }

                $.ajax({
                    type: "POST",
                    data: $("#frm").serialize() + "&state=" + $('#state').val(),
                    //     async: false,
                    url: url,
                    success: function (result) {

                        if (result.isSucceed) {
                            hideProgress();
                            $("#grid").data("kendoGrid").dataSource.read();
                            $("#grid").data("kendoGrid").refresh();
                            $("#popUp").data("kendoWindow").close();

                            swal("Success!", result.Message, "success");
                        }
                        else {
                            hideProgress();
                            swal("Failed!", result.Message, "error");
                        }
                    },
                    error: function (err) {
                        hideProgress();
                        swal("Something went wrong!", err.Message, "error");
                    }
                });
                //}

            }
        }

    })(jQuery);
</script>
