﻿@{
    ViewData["Title"] = "Home Page";
}

<input type="file" accept="pdf" id="uploadPdf" />

<div id="pspdfkit" style="width: 100%; height: 100vh;"></div>

<script src="/lib/pspdfkit/pspdfkit.js"></script>
<script>
var instance = null;

var annotation2 = new PSPDFKit.Annotations.RectangleAnnotation({
    id:"FirstPerson",
    pageIndex: 0,
    strokeWidth:1,
    isEditable: false,
    fillColor:PSPDFKit.Color.BLUE,
    opacity: 0.3,
    boundingBox: new PSPDFKit.Geometry.Rect({
        left: 0,
        top: 0,
        width: 100,
        height: 100,
    })
});

document.getElementById('uploadPdf').addEventListener("change",function (e) {
const reader = new FileReader();
    reader.addEventListener("load", () => {
        const uploaded_file = reader.result;
        PSPDFKit.unload("#pspdfkit");

PSPDFKit.load({
    container: "#pspdfkit",
    document: uploaded_file,
    annotationTooltipCallback: (annotation) => {
        if (annotation instanceof PSPDFKit.Annotations.RectangleAnnotation) {
            return [];
        }
    },
    initialViewState: new PSPDFKit.ViewState({
        enableAnnotationToolbar: false,
        showToolbar:false,
    }),
}).then((_instance) => {
    instance = _instance;
    instance.create(annotation2);

    instance.contentDocument.addEventListener("mouseup", event => {
        let target = instance.contentDocument.querySelector(`.PSPDFKit-Annotation[data-annotation-id="FirstPerson"]`).firstChild.firstChild;
        if (event.target.nodeName == "rect" || event.target.nodeName == "circle") {
            let x = target.getAttribute("x");
            let y = target.getAttribute("y");
            let w = target.getAttribute("width");
            let h = target.getAttribute("height");
            console.log(`X : ${x}, Y : ${y}, H : ${h}, W : ${w}`);
        }
    });
}).catch(function(error) {
    console.error(error.message);
});



    });
reader.readAsDataURL(document.getElementById('uploadPdf').files[0]);
});


</script>
