﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.Master.Document.DocumentMateraiDetailViewModel
<div class="row">
    <div class="col-sm-12">
        <div class="form-group row">
            <label class="col-3">Title</label>
            <div class="col-9">
                @Html.Kendo().TextBoxFor(model => model.DocumentName).HtmlAttributes(new { @class = "form-control", @readonly = true })
                @Html.HiddenFor(model => model.ID)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <label>File Name</label>
                @(Html.Kendo().TextBoxFor(model => model.FileName).Placeholder("file name..").HtmlAttributes(new { @readonly = true, @class = "form-control", style = "width: 100%" }))
            </div>
            <div class="col-md-6 col-sm-12">
                <label>Document Type</label>
                @(Html.Kendo().TextBoxFor(model => model.DocumentType).Placeholder("file name..").HtmlAttributes(new { @readonly = true, @class = "form-control", style = "width: 100%" }))
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding-top:50px;">
    @(Html.Kendo().Grid<DigitalSign.ViewModels.Security.LogTilakaViewModel>()
        .Name("gridLog")
        .Scrollable(s => s.Height("auto"))
        .Columns(columns =>
        {
            columns.Bound(p => p.ApiName).Width(120).Title("Title");
            columns.Bound(p => p.EndPoint).Width(300);
            columns.Bound(p => p.Method).Width(120);
            columns.Bound(p => p.RequestBy).Width(120);
            columns.Bound(p => p.ResponseStatus).Width(120);
            columns.Bound(p => p.RequestStart).Format("{0:dd-MMM-yyyy hh:mm:ss tt}").Width(250);
            columns.Bound(p => p.RequestEnd).Format("{0:dd-MMM-yyyy hh:mm:ss tt}").Width(250);
            columns.Bound(p => p.ErrorMessage).Width(200);
            @*columns.Bound("").ClientTemplate("<div class='custom-table-action'>" +
            "<a href='" + Url.Action("DownloadLog", "Materai") + "?id=#:ID#' class='act-btn detailPDF' style='margin-left:10px; color:blue' title='View Document'><i class='fa fa-folder-open'></i></a>" +
            "</div>").Title("Action").Width(100).Filterable(false);*@
        })
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .Resizable(re => re.Columns(true))
        .NoRecords(x => x.Template("<div class='empty-grid'>No data</div>"))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(10)
            .Read(read => read.Action("ListLog", "Materai", new { docId = Model.ID }))
            )
        )
</div>