﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.Master.Document.DocumentMateraiDetailViewModel
@{
    ViewData["Title"] = "Detail Materai";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
</div>



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmMaterai", name = "frmMaterai" }))
                {
                @Html.HiddenFor(m => m.ID)
                <div class="form-group row">
                    <label class="col-3">Title</label>
                    <div class="col-9">
                        @Html.Kendo().TextBoxFor(model => model.DocumentName).HtmlAttributes(new { @class = "form-control", @readonly = true })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <label>File Name</label>
                        @(Html.Kendo().TextBoxFor(model => model.FileName).Placeholder("file name..").HtmlAttributes(new { @readonly = true, @class = "form-control", style = "width: 100%" }))
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label>Document Type</label>
                        @(Html.Kendo().TextBoxFor(model => model.DocumentType).Placeholder("file name..").HtmlAttributes(new { @readonly = true, @class = "form-control", style = "width: 100%" }))
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <label>Location</label>
                        @Html.Kendo().TextBoxFor(model => model.Location).HtmlAttributes(new { @class = "form-control", @readonly = true })
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label>Reason</label>
                        @Html.Kendo().TextAreaFor(model => model.Reason).HtmlAttributes(new {@class = "form-control", @row = 3, @readonly = true})
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <label>Lower Left X</label>
                        @Html.Kendo().TextBoxFor(model => model.VisLLX).HtmlAttributes(new {@class = "form-control", @readonly = true})
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <label>Lower Left Y</label>
                        @Html.Kendo().TextBoxFor(model => model.VisLLY).HtmlAttributes(new {@class = "form-control", @readonly = true})
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <label>Upper Right X</label>
                        @Html.Kendo().TextBoxFor(model => model.VisURX).HtmlAttributes(new {@class = "form-control", @readonly = true})
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <label>Upper Right Y</label>
                        @Html.Kendo().TextBoxFor(model => model.VisURY).HtmlAttributes(new {@class = "form-control", @readonly = true})
                        @Html.HiddenFor(m => m.Page)
                    </div>
                </div>
                }
                @{
                    if (!Model.IsStampped && !string.IsNullOrEmpty(Model.SerialNumber))
                    {
                        <div class="row">
                            <div class="col-sm-12" style="padding-top:10px">
                                <button class="btn btn-primary" type="button" id="restampMaterai"><i class="fa fa-send"></i> Restamp Materai</button>
                            </div>
                        </div>
                    }
                    if (!Model.IsStampped && string.IsNullOrEmpty(Model.SerialNumber))
                    {
                        <div class="row">
                            <div class="col-sm-12" style="padding-top:10px">
                                <button class="btn btn-primary" type="button" id="resubmitMaterai"><i class="fa fa-gavel"></i> Resubmit Materai</button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-body">
                @{
                    if (!Model.IsStampped && string.IsNullOrEmpty(Model.SerialNumber))
                    {
                        <div class="card-header">

                            <nav aria-label="Page navigation example" class="row">
                                <ul class="pagination mr-auto mt-lg-0">
                                    <li class="page-item"><a class="page-link" id="prev" href="#">Previous</a></li>
                                    <li class="page-item"><a class="page-link" id="next" href="#">Next</a></li>
                                </ul>
                                <ul class="navbar-text mt-lg-0" style="list-style-type:none; margin-left:auto;">
                                    <li class="page-item">Page <a id="npages" href="#">not yet</a> of <a id="allpages" href="#">not yet</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="card-body">
                            <input type="hidden" name="x1" value="" />
                            <input type="hidden" name="x2" value="" />
                            <input type="hidden" name="y1" value="" />
                            <input type="hidden" name="y2" value="" />
                            <input type="hidden" id="document_height" name="document_height">
                            <input type="hidden" id="document_width" name="document_width">
                            <input type="hidden" name="dokumen_page" id="dokumen_page">
                            <input type="hidden" name="digital_signature_path" id="digital_signature_path" value="@Url.Content("~/Image/materai.jpg")">
                            <input type="hidden" name="is_visible_sign" id="is_visible_sign" value="True">
                            <input type="hidden" name="is_detail" id="is_detail" value="True">
                            <div id="container">
                                <canvas id="cnv">
                                </canvas>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex justify-content-center">
                            <iframe id="pdfFrame" style="width:100%;height:1000px;"></iframe>
                        </div>
                    }
                }
                @*<embed id="pdfID" type="text/html" height="600" src="@Html.Raw(Model.ContentPDF)#navpanes=0&scrollbar=0" class="col-12" />*@
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/lib/imgareaselect/jquery.imgareaselect.dev.js")"></script>
    <script src="@Url.Content("~/js/materaiPlacement.js")"></script>
    <script src="@Url.Content("~/js/apps/materai.js")"></script>
    <script>
        var a = "@Html.Raw(!Model.IsStampped)";
        var b = "@Html.Raw(string.IsNullOrEmpty(Model.SerialNumber))";
        if (a === "True" && b === "True"){
            numPage = parseInt("@Html.Raw(Model.Page)");
            const startPdf = () => {
                PDFStart("data:application/pdf;base64," + "@Html.Raw(Model.ContentPDF)");
            }
            startPdf();
        } else {
            var pdfData = base64ToUint8Array("@Html.Raw(Model.ContentPDF)");
            function base64ToUint8Array(base64) {
                var raw = atob(base64);
                var uint8Array = new Uint8Array(raw.length);
                for (var i = 0; i < raw.length; i++) {
                    uint8Array[i] = raw.charCodeAt(i);
                }
                return uint8Array;
            }

            var pdfViewerFrame = document.getElementById("pdfFrame");
            pdfViewerFrame.onload = function () {
                pdfViewerFrame.contentWindow.PDFViewerApplication.open(pdfData);
            }
            pdfViewerFrame.setAttribute("src", "@Url.Content("~/lib/pdfjs/web/viewer.html")" + "?file=");
        }
    </script>
}
