﻿@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "Stamping Materai Page";
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">

        <a href=@Url.Action("Upload") class="btn btn-success" id="btnUpload" title="Upload"><span class="fa fa-plus-circle"></span> Upload Document</a>
        <br />
        <br />

        @(Html.Kendo().Grid<DigitalSign.ViewModels.Master.Document.DocumentMateraiNewViewModel>()
            .Name("grid")
            .Scrollable(s => s.Height("auto"))
            .Columns(columns =>
            {
                columns.Bound("").ClientTemplate("<div class='custom-table-action'>" +
                "#if(StampedDoc != null){# <a href='" + Url.Action("ViewStamp", "Materai") + "?id=#:ID#' class='act-btn stampPDF' style='color:green' title='View Stamp'><i class='fa fa-paw'></i></a> #}# " +
                "<a href='" + Url.Action("Detail", "Materai") + "?id=#:ID#' class='act-btn detailPDF' style='margin-left:10px; color:blue' title='View Document'><i class='fa fa-folder-open'></i></a>" +
                "#if(IsSuperAdmin){#<a href='javascript:;' onclick='viewLog(this)' data-id='#=ID#' class='act-btn logTilaka' style='margin-left:10px; color:darkorange' title='View Log'><i class='fa fa-newspaper-o'></i></a>#}#" +
                "</div>").Title("Action").Width(100).Filterable(false);
                columns.Bound(p => p.DocumentName).Width(200).Title("Title");
                columns.Bound(p => p.FileName).Width(300);
                columns.Bound(p => p.DocumentType).Width(300);
                columns.Bound(p => p.StampDate).Format("{0:dd-MMM-yyyy}").Width(200);
                columns.Bound(p => p.SerialNumber).Width(300);
                columns.Bound(p => p.CreatedDate).Format("{0:dd-MMM-yyyy}").Width(200);
                columns.Bound(p => p.LastSubmit).Format("{0:dd-MMM-yyyy}").Width(200);
                
            })
            .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
            .Sortable()
            .Filterable()
            .Resizable(re => re.Columns(true))
            .NoRecords(x => x.Template("<div class='empty-grid'>No data</div>"))
            @*.Events(x => x.DataBound("AfterLoad"))*@
            .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(10)
            .Read(read => read.Action("ListDocument", "Materai"))
            )
            )
    </div>
</div>
<div id="popUp"></div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#grid').css('font-size', '12px');
            var windowOptions = {
                animation: false,
                modal: true,
                width: 800,
                height: 500,
                visible: false,
                title: 'Log Document'
            };
            $("#popUp").kendoWindow(windowOptions);
        });

        function viewLog(e) {
            var id = e.getAttribute("data-id");
            $("#popUp").data("kendoWindow").refresh({
                url: "@Url.Action("ViewLog")?docId=" + id,
            });
            $("#popUp").data("kendoWindow").center().open();
        };
    </script>
}