﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.Master.Document.DocumentMateraiViewModel

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmMaterai", name = "frmMaterai" }))
                {
                    @Html.HiddenFor(m => m.ID)
                    <div class="form-group row">
                        <label class="col-3">Title</label>
                        <div class="col-9">
                            @Html.Kendo().TextBoxFor(model => model.DocumentName).HtmlAttributes(new { @class = "form-control", @required = true })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3">Document File</label>
                        <div class="col-9">
                            <input type="file" class="form-control-file" id="DocumentFile" accept=".pdf">
                            <small id="docHelp" class="form-text text-muted">(Pdf format up to 30 MB)</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <label>File Name</label>
                            @(Html.Kendo().TextBoxFor(model => model.FileName).Placeholder("file name..").HtmlAttributes(new { @readonly = true, @class = "form-control", style = "width: 100%" }))
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>Document Type</label>
                            @(Html.Kendo().DropDownListFor(model => model.DocumentType)
                                .HtmlAttributes(new { style = "width:100%", @required = true })
                                .OptionLabel("Select Document Type...")
                                .DataTextField("Nama")
                                .DataValueField("Kode")
                                .DataSource(source => source
                                .Custom()
                                .ServerFiltering(true)
                                .Transport(transport => transport
                                .Read(read =>
                                {
                                    read.Action("GetListDocumentType", "Materai");
                                }))
                                ))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <label>Location</label>
                            @Html.Kendo().TextBoxFor(model => model.Location).HtmlAttributes(new { @class = "form-control", @required = true })
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>Reason</label>
                            @Html.Kendo().TextAreaFor(model => model.Reason).HtmlAttributes(new {@class = "form-control", @row = 3, @required = true})
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <label>Lower Left X</label>
                            <input type="text" name="VisLLX" class="form-control k-textbox" readonly style="width: 100%" />
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label>Lower Left Y</label>
                            <input type="text" name="VisLLY" class="form-control k-textbox" value="" readonly style="width: 100%" />
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label>Upper Right X</label>
                            <input type="text" name="VisURX" class="form-control k-textbox" value="" readonly style="width: 100%" />
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label>Upper Right Y</label>
                            <input type="text" name="VisURY" class="form-control k-textbox" value="" readonly style="width: 100%" />
                        </div>
                    </div>
                }
                <div class="row uploadStart">
                    <div class="col-sm-12" style="padding-top:10px">
                        <button class="btn btn-primary" type="button" id="submitMaterai"><i class="fa fa-send"></i> Submit Materai</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="card uploadStart">
            <div class="card-header">

                <nav aria-label="Page navigation example" class="row">
                    <ul class="pagination mr-auto mt-lg-0">
                        <li class="page-item"><a class="page-link" id="prev" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" id="next" href="#">Next</a></li>
                    </ul>
                    <ul class="navbar-text mt-lg-0" style="list-style-type:none; margin-left:auto;">
                        <li class="page-item">Page <a id="npages" href="#">not yet</a> of <a id="allpages" href="#">not yet</a></li>
                    </ul>
                </nav>
            </div>
            <div class="card-body">
                <input type="hidden" name="x1" value="" />
                <input type="hidden" name="x2" value="" />
                <input type="hidden" name="y1" value="" />
                <input type="hidden" name="y2" value="" />
                <input type="hidden" id="document_height" name="document_height">
                <input type="hidden" id="document_width" name="document_width">
                <input type="hidden" name="dokumen_page" id="dokumen_page">
                <input type="hidden" name="digital_signature_path" id="digital_signature_path" value="@Url.Content("~/Image/materai.jpg")">
                <input type="hidden" name="is_visible_sign" id="is_visible_sign" value="True">
                @*<div id="objDrag" draggable="true">
                    <img id="materaiDrag" src="@Url.Content("~/Image/materai.jpg")" />
                </div>*@

                <div id="container">
                    <canvas id="cnv">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/lib/imgareaselect/jquery.imgareaselect.dev.js")"></script>
    <script src="@Url.Content("~/js/materaiPlacement.js")"></script>
    <script src="~/js/apps/materai.js"></script>
    <script type="text/javascript">
    </script>
}
