﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.Master.Document.DocumentMateraiNewViewModel
@{
    ViewData["Title"] = "Stampped Materai";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
</div>



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmMaterai", name = "frmMaterai" }))
                {
                    @Html.HiddenFor(m => m.ID)
                    <div class="form-group row">
                        <label class="col-3">Title</label>
                        <div class="col-9">
                            @Html.Kendo().TextBoxFor(model => model.DocumentName).HtmlAttributes(new { @class = "form-control", @readonly = true })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <label>File Name</label>
                            @(Html.Kendo().TextBoxFor(model => model.FileName).Placeholder("file name..").HtmlAttributes(new { @readonly = true, @class = "form-control", style = "width: 100%" }))
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label>Document Type</label>
                            @(Html.Kendo().TextBoxFor(model => model.DocumentType).Placeholder("file name..").HtmlAttributes(new { @readonly = true, @class = "form-control", style = "width: 100%" }))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <label>Location</label>
                            @Html.Kendo().TextBoxFor(model => model.Location).HtmlAttributes(new { @class = "form-control", @readonly = true })
                        </div>
                        @*                        <div class="col-md-6 col-sm-12">
                    <label>Quota</label>
                    @(Html.Kendo().DropDownListFor(model => model.MateraiID)
                    .HtmlAttributes(new { style = "width:100%" })
                    .OptionLabel("Select Quota Materai...")
                    .DataTextField("Quota")
                    .DataValueField("ID")
                    .DataSource(source => source
                    .Custom()
                    .ServerFiltering(true)
                    .Transport(transport => transport
                    .Read(read =>
                    {
                    read.Action("GetListQuota", "Materai");
                    }))
                    ))
                    </div>*@
                        @*</div>
                    <div class="row flex-fill">*@
                        <div class="col-md-6 col-sm-12">
                            <label>Reason</label>
                            @Html.Kendo().TextAreaFor(model => model.Reason).HtmlAttributes(new {@class = "form-control", @row = 3, @readonly = true})
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <iframe id="pdfFrame" style="width:100%;height:1000px;"></iframe>
                </div>
                @*<embed id="pdfID" type="text/html" height="600" src="@Model.ContentPDF#navpanes=0&scrollbar=0" class="col-12" />*@
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var pdfData = base64ToUint8Array("@Html.Raw(Model.ContentPDF)");
        function base64ToUint8Array(base64) {
            var raw = atob(base64);
            var uint8Array = new Uint8Array(raw.length);
            for (var i = 0; i < raw.length; i++) {
                uint8Array[i] = raw.charCodeAt(i);
            }
            return uint8Array;
        }

        var pdfViewerFrame = document.getElementById("pdfFrame");
        pdfViewerFrame.onload = function () {
            pdfViewerFrame.contentWindow.PDFViewerApplication.open(pdfData);
        }
        pdfViewerFrame.setAttribute("src", "@Url.Content("~/lib/pdfjs/web/viewer.html")" + "?file=");


    </script>
}