﻿<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>@ViewData["Title"] - Digital Sign</title>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="~/css/sweetalert.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="~/css/site1.css" />

	<!-- Custom fonts for this template-->
	<link href="~/lib/fontawesome-free/css/fontawesome.css" rel="stylesheet" type="text/css" />
	<!-- Custom styles for this template-->
	<link href="~/css/style-layout.css" rel="stylesheet" type="text/css">
	<link href="~/lib/kendo-ui-core/2022.2.802/styles/kendo.common-material.min.css" rel="stylesheet" type="text/css" />
	<link href="~/lib/kendo-ui-core/2022.2.802/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
	<link href="~/lib/kendo-ui-core/2022.2.802/styles/kendo.material.min.css" rel="stylesheet" type="text/css" />
	@*<link href="~/lib/kendo-ui-core/2019.1.220/styles/kendo.dataviz.mobile.min.css" rel="stylesheet" type="text/css" />*@
	@*<link href="~/lib/kendo-ui-core/2019.1.220/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />*@
	<link href="~/css/custom-style.css" rel="stylesheet" type="text/css">

	<!-- Bootstrap core JavaScript-->
	@*<script src="~/js/jquery-3.3.1.js"></script>*@
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/js/bootstrap.bundle.js"></script>
	<script src="~/lib/chartjs/Chart.min.js"></script>
	<script src="~/lib/fontawesome-free/js/all.js"></script>
	<!-- Custom scripts for all pages-->
	<script src="~/js/js-layout.js"></script>
	<script src="~/js/sketchpad.js"></script>
	<script src="~/lib/pspdfkit/pspdfkit.js"></script>
	<!-- Page level plugins -->
	<script src="~/js/sweetalert.min.js"></script>
	<script src="~/lib/pdfjs/build/pdf.js"></script>
	<script src="~/js/kendo.modernizr.custom.js"></script>
	@*<script src="~/lib/kendo-ui-core/2019.1.220/js/jquery.min.js"></script>*@
@*	<script src="~/lib/kendo-ui-core/2019.1.220/js/jszip.min.js"></script>
	<script src="~/lib/kendo-ui-core/2019.1.220/js/kendo.all.min.js"></script>
	<script src="~/lib/kendo-ui-core/2019.1.220/js/kendo.aspnetmvc.min.js"></script>*@
	@*<script src="~/lib/kendo-ui-core/2019.1.220/js/jquery.min.js"></script>*@
	<script src="~/lib/kendo-ui-core/2022.2.802/js/jszip.min.js"></script>
	<script src="~/lib/kendo-ui-core/2022.2.802/js/kendo.all.min.js"></script>
	<script src="~/lib/kendo-ui-core/2022.2.802/js/kendo.aspnetmvc.min.js"></script>
	<style type="text/css">
		* {
			-webkit-box-sizing: border-box !important;
			-moz-box-sizing: border-box !important;
			box-sizing: border-box !important;
		}

			*:before,
			*:after {
				-webkit-box-sizing: border-box !important;
				-moz-box-sizing: border-box !important;
				box-sizing: border-box !important;
			}

		.failed {
			border-color: rgba(229, 103, 23, 0.8);
			box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
			outline: 0 none;
		}

		.bg-gradient-accent {
			background-color: #A71F24;
			background-image: linear-gradient(180deg, #B02126 10%, #A71F24 100%);
			background-size: cover;
		}

		.image-canvas {
			position: relative;
			height: 400px;
		}

		.img-file-upload {
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			text-align: center;
			z-index: 1;
			opacity: 0;
			height: 400px;
		}

		.sertificate-img {
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			text-align: center;
			height: 400px;
			width: 400px;
		}

		.img-file-upload:hover {
			cursor: pointer;
		}

		.img-profile-container {
			position: relative;
			width: 200px;
			height: 200px;
		}

		.img-profile {
			border-radius: 50%;
			width: 200px;
			height: 200px;
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
		}

		.btn-img-profile {
			position: absolute;
			bottom: 0;
			right: 0;
		}

		.img-profile-upload {
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			text-align: center;
			z-index: 1;
			opacity: 0;
			height: 200px;
			width: 200px;
		}

		.img-profile-upload:hover {
			cursor: pointer;
		}

		.card-status {
			cursor: pointer;
		}
	</style>

</head>

<body id="page-top">

	<div id="OverlaySpinner"></div>
	<img id="spinner" src="~/Image/loading-circle.gif" />
	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Beranda")">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fa fa-laugh-wink"></i>
				</div>
				<div class="sidebar-brand-text mx-3">Digital Sign</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item">
				<a class="nav-link text-light" asp-area="" asp-controller="Beranda" asp-action="Index">
					<i class="fa fa-fw fa-home"></i>
					<span>Dashboard</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light" asp-area="" asp-controller="Document" asp-action="Index">
					<i class="fa fa-fw fa-file"></i>
					<span>Document</span>
				</a>
			</li>
			@if (ViewBag.Rolename != "User")
			{
				<li class="nav-item">
					<a class="nav-link text-light" asp-area="" asp-controller="DocumentCategory" asp-action="Index">
						<i class="fa fa-fw fa-users"></i>
						<span>Master Document Category</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Index">
						<i class="fa fa-fw fa-users"></i>
						<span>User</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" asp-area="" asp-controller="Role" asp-action="Index">
						<i class="fa fa-fw fa-bars"></i>
						<span>Role</span>
					</a>
				</li>
			}

		</ul>
		<!-- End of Sidebar -->
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>

					<!-- Topbar Search -->
					<a class="navbar-brand">Welcome, @ViewBag.Username</a>

					<!-- Topbar Navbar -->
					<ul class="navbar-nav ml-auto">

						<li class="nav-item">
							<!-- Topbar Search -->
							<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-3 mw-100 navbar-search" method="get" asp-controller="Document" asp-action="Index">
								<div class="input-group">
									<div class="input-group-prepend">
										<button class="btn btn-danger" type="submit">
											<i class="fa fa-search"></i>
										</button>
									</div>
									<input type="text" class="form-control bg-light border-0 my-0" placeholder="Search for..."
										   aria-label="Search" aria-describedby="basic-addon2" name="keyword">

								</div>
							</form>
						</li>

						<!-- Nav Item - Search Dropdown (Visible Only XS) -->
						<li class="nav-item dropdown no-arrow d-sm-none">
							<a class="nav-link dropdown-toggle" href="#" role="button">
								<i class="fa fa-search fa-fw"></i>
							</a>
							<!-- Dropdown - Search -->
							<div class="dropdown-menu-right p-3 shadow animated--grow-in">
								<form class="form-inline mr-auto w-100 navbar-search">
									<div class="input-group">
										<input type="text" class="form-control bg-light border-0 small"
											   placeholder="Search for..." aria-label="Search"
											   aria-describedby="basic-addon2">
										<div class="input-group-append">
											<button class="btn btn-primary" type="button">
												<i class="fas fa-search fa-sm"></i>
											</button>
										</div>
									</div>
								</form>
							</div>
						</li>

						<!-- Nav Item - Alerts -->
						<li class="nav-item dropdown no-arrow mx-1">
							<a class="nav-link dropdown-toggle" data-target="#" href="#" id="alertsDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-bell fa-fw"></i>
								<!-- Counter - Alerts -->
								@{
									if (Convert.ToInt32(ViewBag.HitungCounter) != 0)
									{
											<span class="badge badge-danger badge-counter">@ViewBag.HitungCounter</span>
									}
								}
							</a>
							<!-- Dropdown - Alerts -->
							<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
								 aria-labelledby="alertsDropdown" id="notif-wrapper">
								<h6 class="dropdown-header">
									Notifications
								</h6>
								@{
									if (ViewBag.Notification.Count < 1)
									{
											<a class="dropdown-item text-center small text-gray-500">You not have a notifications</a>
									}
									else
									{
										for (var i = 0; i < ViewBag.Notification.Count; i++)
										{
											if (i >= 5)
											{
												break;
											}
												<a class="dropdown-item d-flex align-items-center" id="@ViewBag.Notification[i].ID" style="cursor:pointer;background-color: @(ViewBag.Notification[i].ReadDate == null? "#CDFFCA" : "")">
													<div class="mr-3">
														<input type="hidden" value="@ViewBag.Notification[i].RedirectTo">
														<div class="icon-circle @(ViewBag.Notification[i].UserID != null? "bg-primary" : "bg-success")">
															<i class="fa fa-@(ViewBag.Notification[i].Icon) text-white"></i>
														</div>
													</div>
													<div class="mr-2">
														<div class="small text-dark-500">@ViewBag.Notification[i].CreateDate.ToString("dd MMM yyyy hh:mm")</div>
														<span class="font-weight-bold">@ViewBag.Notification[i].Title</span>
														<p class="small">@ViewBag.Notification[i].Detail</p>
													</div>
													<div>
														<button class="btn btn-danger btn-sm"> <i class="fa fa-trash text-white"></i></button>
													</div>
												</a>
										}
									}

									if (ViewBag.Notification.Count >= 5)
									{
											<a class="dropdown-item text-center small text-gray-500" asp-controller="Notification" asp-action="GetAll">Show All Notifications</a>
									}

								}

							</div>
						</li>

						<!-- Nav Item - User Information -->
						<li class="nav-item dropdown no-arrow">
							<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
							   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-user fa-fw"></i>
							</a>
							<!-- Dropdown - User Information -->
							<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
								 aria-labelledby="userDropdown">
								<a class="dropdown-item" asp-controller="Profile" asp-action="Index">
									<i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
									Profile
								</a>
								@*<a class="dropdown-item" asp-controller="ActivityLog" asp-action="Index">
								<i class="fa fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
								Activity Log
								</a>*@
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" asp-controller="Auth" asp-action="Logout">
									<i class="fa fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
									Logout
								</a>
							</div>
						</li>

					</ul>

				</nav>
				<!-- End of Topbar -->
				<!-- Begin Page Content -->
				<div class="container-fluid pb-3">
					@RenderBody()
				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->
			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container align-items-center">
					&copy; 2022 - DigitalSign.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->
	<!-- Custome JavaScript-->
	<script src="~/js/site.js"></script>


	<!-- Page level custom scripts -->
	<script>
		//end add
		var spinnerVisible = false;
		function showProgress() {
			if (!spinnerVisible) {
				$("#spinner").css("display", "block");
				$("#OverlaySpinner").css("display", "block");
				spinnerVisible = true;
				$("#spinner").fadeIn("fast");
			}
		};
		function hideProgress() {
			if (spinnerVisible) {
				$("#OverlaySpinner").css("display", "none");
				$("#spinner").css("display", "none");
				var spinner = $("#spinner");
				spinner.stop();
				spinner.fadeOut("fast");
				spinnerVisible = false;
			}
		};

		const notif = document.querySelectorAll('#notif-wrapper > a');
		notif.forEach(function(e) {
			const input = e.querySelector('input');
			if (input != undefined) {
				const endpoint = input.value;

				e.addEventListener('click', function(e) {
					e.preventDefault();
					const id = $(this).attr('id');

					$.ajax({
						type: "GET",
						data: {
							notifID: id
						},
						url: `@Url.Action("ReadNotification","Notification")`,
						success: function(result) {
							hideProgress();
							if (result.isSucceed) {
								window.location = "../" + endpoint;
							}
							else {
								location.reload();
							}
						},
						error: function(err) {
						}
					});
				})

				e.querySelector('button').addEventListener('click', function(e) {
					e.preventDefault();
					e.stopPropagation();
					const id = $(this).parent().parent().attr('id');

					$.ajax({
						type: "GET",
						data: {
							notifID: id
						},
						url: `@Url.Action("DeleteNotification","Notification")`,
						success: function(result) {
							hideProgress();
							swal("success!", result.Message, "success");
							setTimeout(function () {
								location.reload();
							}, 2000);
						},
						error: function(err) {
						}
					});
				})
			}

		})

	</script>
	@await RenderSectionAsync("Scripts", required: false)

</body>

</html>