﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - Digital Sign</title>

    <!-- Custom styles for this template-->
    <link href="~/css/style-layout.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap core JavaScript-->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <style>
    *{
        margin: 0;
        padding: 0;
    }
</style>
    
</head>

<body>

@RenderBody()
@await RenderSectionAsync("Scripts", required: false)

</body>

</html>