﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Digital Sign</title>
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site1.css" />


    <link href="@Url.Content("~/Content/kendo/2015.1.408/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="~/lib/kendo-ui-core/2019.1.220/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/kendo/2015.1.408/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />*@
    <link href="~/lib/kendo-ui-core/2019.1.220/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/kendo/2015.1.408/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />*@
    <link href="~/lib/kendo-ui-core/2019.1.220/styles/kendo.dataviz.mobile.min.css" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/kendo/2015.1.408/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />*@
    @*<link href="~/lib/kendo-ui-core/2019.1.220/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    @*<link href="@Url.Content("~/Content/kendo/2015.1.408/kendo.dataviz.bootstrap.min.css")" rel="stylesheet" type="text/css" />*@
    <link href="~/css/sweetalert.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bs-stepper.min.css" rel="stylesheet" type="text/css" />

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    @*<link rel="stylesheet" href="~/DigitalSign.Web.styles.css" asp-append-version="true" />*@
    @*<link href="~/css/style-layout.css" rel="stylesheet">*@
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
                

    
                
    @*<link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">*@
    @*<link href="~/css/font-awesome.css" rel="stylesheet" />*@
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/sweetalert.min.js"></script>
    @*<script src="@Url.Content("~/Scripts/kendo/2015.1.408/jquery.min.js")"></script>*@
    @*<script src="~/lib/kendo-ui-core/2019.1.220/js/jquery.min.js"></script>*@
    @*<script src="@Url.Content("~/Scripts/kendo/2015.1.408/jszip.min.js")"></script>*@
    @*<script src="~/lib/kendo-ui-core/2019.1.220/js/jszip.min.js"></script>*@
    @*<script src="@Url.Content("~/Scripts/kendo/2015.1.408/kendo.all.min.js")"></script>*@
    @*<script src="~/lib/kendo-ui-core/2019.1.220/js/kendo.all.min.js"></script>*@
    @*<script src="@Url.Content("~/Scripts/kendo/2015.1.408/kendo.aspnetmvc.min.js")"></script>*@
    @*<script src="~/lib/kendo-ui-core/2019.1.220/js/kendo.aspnetmvc.min.js"></script>*@
    @*<script src="@Url.Content("~/Scripts/kendo/2015.1.408/jquery.min.js")"></script>*@
    @*<script src="~/lib/kendo-ui-core/2019.1.220/js/jquery.min.js"></script>*@
    @*<script src="@Url.Content("~/Scripts/kendo/2015.1.408/jszip.min.js")"></script>*@
    <script src="~/lib/kendo-ui-core/2019.1.220/js/jszip.min.js"></script>
    @*<script src="@Url.Content("~/Scripts/kendo/2015.1.408/kendo.all.min.js")"></script>*@
    <script src="~/lib/kendo-ui-core/2019.1.220/js/kendo.all.min.js"></script>
    @*<script src="@Url.Content("~/Scripts/kendo/2015.1.408/kendo.aspnetmvc.min.js")"></script>*@
    <script src="~/lib/kendo-ui-core/2019.1.220/js/kendo.aspnetmvc.min.js"></script>
    @*<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>*@
    <script src="~/js/kendo.modernizr.custom.js"></script>
    <script src="~/js/bs-stepper.min.js"></script>
</head>
<body>
    <div id="OverlaySpinner"></div>
    <img id="spinner" src="~/Image/loading-circle.gif" />
    <main class="wrapper">
        <header class="text-center">
            @*<h1 class="mx-auto">Selamat Datang Di </h1>*@
        </header>
        <main class="main-container">
            <div class="col-11 m-auto">
                @RenderBody()
            </div>
        </main>
        <footer>
            <p class="copy-footer text-white">Digital Sign &copy; 2022 Indocyber Global Technology</p>
        </footer>
    </main>
@*
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
     <script>
        //end add
        var spinnerVisible = false;
        function showProgress() {
            if (!spinnerVisible) {
                $("#spinner").css("display", "block");
                $("#OverlaySpinner").css("display", "block");
                spinnerVisible = true;
                $("#spinner").fadeIn("fast");
            }
        };
        function hideProgress() {
            if (spinnerVisible) {
                $("#OverlaySpinner").css("display", "none");
                $("#spinner").css("display", "none");
                var spinner = $("#spinner");
                spinner.stop();
                spinner.fadeOut("fast");
                spinnerVisible = false;
            }
        };
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
