﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - Digital Sign</title>

    <link href="~/css/sweetalert.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/site1.css" />
    <!-- Custom fonts for this template-->
    <link href="~/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <!-- Custom styles for this template-->
    <link href="~/css/style-layout.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="~/lib/kendo-ui-core/2022.2.802/styles/kendo.common-material.min.css" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/kendo/2015.1.408/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />*@
    <link href="~/lib/kendo-ui-core/2022.2.802/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/kendo/2015.1.408/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />*@
    <link href="~/lib/kendo-ui-core/2022.2.802/styles/kendo.material.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="bg-gradient-danger d-flex justify-content-center align-items-center">
    <div id="OverlaySpinner"></div>
    <img id="spinner" src="~/Image/loading-circle.gif" />
    <div class="container">
        @RenderBody()
    </div>

     <!-- Bootstrap core JavaScript-->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
     <script src="~/js/sweetalert.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/js/js-layout.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/kendo.modernizr.custom.js"></script>
    <script src="~/lib/kendo-ui-core/2022.2.802/js/jszip.min.js"></script>
    @*<script src="@Url.Content("~/Scripts/kendo/2015.1.408/kendo.all.min.js")"></script>*@
    <script src="~/lib/kendo-ui-core/2022.2.802/js/kendo.all.min.js"></script>
    @*<script src="@Url.Content("~/Scripts/kendo/2015.1.408/kendo.aspnetmvc.min.js")"></script>*@
    <script src="~/lib/kendo-ui-core/2022.2.802/js/kendo.aspnetmvc.min.js"></script>
     <script>
        //end add
        var spinnerVisible = false;
        function showProgress() {
            if (!spinnerVisible) {
                $("#spinner").css("display", "block");
                $("#OverlaySpinner").css("display", "block");
                spinnerVisible = true;
                $("#spinner").fadeIn("fast");
            }
        };
        function hideProgress() {
            if (spinnerVisible) {
                $("#OverlaySpinner").css("display", "none");
                $("#spinner").css("display", "none");
                var spinner = $("#spinner");
                spinner.stop();
                spinner.fadeOut("fast");
                spinnerVisible = false;
            }
        };
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>