﻿@using Kendo.Mvc.UI
<style>
    .k-widget *, .k-widget :before {
        box-sizing: border-box;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="form-create-edit">
            <div class="form-group row">
                <div class="col-md-12 col-sm-12">
                    @Html.Label("Email")
                    <input type="text" name="Email" id="Email" class="form-control k-textbox" placeholder="Type your email address" />
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <button type="submit" id="submitForgotPassword" class="btn btn-block btn-success">
                        <span class="fa fa-save" aria-hidden="true"></span>  Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#submitForgotPassword").click(function (e) {
        e.preventDefault();
        showProgress();
        var email = $("#Email").val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("ForgotPassword")?email=" + email,
            success: function (result) {
                hideProgress();
                if (result.isSucceed) {
                    swal("Success!", result.Message, "success");
                    $('.confirm').click(() => { location.href = baseurl; });
                    setTimeout(function () {
                        location.href = baseurl;
                    }, 4000);
                }
                else {
                    swal("Failed!", result.Message, "error");
                    //showValidateMessage(result.Data);
                }
            },
            error: function (err) {
                swal("Something went wrong!", err.Message, "error");
            }
        });
    });
</script>
