﻿@model DigitalSign.ViewModels.Security.ResetPasswordViewModel;
@{
    Layout = "~/Views/Shared/_SignInLayout.cshtml";
    ViewData["Title"] = "Forgot Password";
}
@{
    if (ViewBag.IsSuccess == 1)
    {
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body text-center">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmChangePassword", name = "frmChangePassword" }))
                            {
                                @Html.HiddenFor(m => m.Email)
                                @Html.HiddenFor(m => m.Code)
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12">
                                        <label for="Password" class="text-left">Password</label>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control k-textbox", placeholder = "New Password" })
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12">
                                        <label for="ConfirmPassword" class="text-left">Confirm Password</label>
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control k-textbox", placeholder = "Confirm Password" })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-block btn-success" id="changePassword">
                                            <span class="fa fa-save" aria-hidden="true"></span>  Change Password
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h4>@ViewBag.Message</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
<div id="popUpFrame"></div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var windowOptions = {
                animation: false,
                modal: true,
                width: 400,
                height: 200,
                visible: false,
                title: 'Forgot Password'
            };
            $("#popUpFrame").kendoWindow(windowOptions);
        });
        $("#changePassword").click(function (e) {
            e.preventDefault();
            debugger;
            showProgress();
            let data = $("#frmChangePassword").serialize();
            $.ajax({
                type: "POST",
                data: data,
                url: "@Url.Action("ResetPassword")",
                success: function (result) {
                    hideProgress();
                    hideValidateMessage();
                    if (result.isSucceed) {
                        swal("Success!", result.Message, "success");
                        $('.confirm').click(() => { location.href = baseurl; });
                        setTimeout(function () {
                            location.href = baseurl;
                        }, 4000);
                    }
                    else {
                        swal("Failed!", result.Message, "error");
                        showValidateMessage(result.Data);
                    }
                },
                error: function (err) {
                    swal("Something went wrong!", err.Message, "error");
                }
            });
        });

        function showValidateMessage(validations) {
            for (var validation of validations) {

                let propertyName = validation.PropertyName;
                let errorMessage = validation.ErrorMessage;
                let parent = $(`#${propertyName}`).closest("div");
                parent.append(`<span data-valmsg-for='${propertyName}' class='field-validation-valid' style='color: red'>${errorMessage}</span>`)

                //$(`span[data-valmsg-for=${propertyName}]`).text(errorMessage).css("color", "red").css("display", "block");
                //console.log(errorMessage + " " + propertyName);
            }
        }

        function hideValidateMessage() {
            $(".field-validation-valid").text("");
        }
    </script>
}
