﻿@model DigitalSign.ViewModels.Security.LoginRequestViewModel;

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row justify-content-center ">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-transparent mb-0"><h5 class="text-center"><span class="font-weight-bold text-color-accent">LOGIN</span></h5></div>
                <div class="card-body">
                    <form method="post" id="Form-Login">
                        <div class="form-group">
                            <input type="text" name="Username" class="form-control" placeholder="Username">
                            <span data-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" name="Password" class="form-control" placeholder="Password">
                            <span data-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group d-flex justify-content-center">
                            <input type="submit" name="" value="Login" class="btn btn-danger bg-color-accent btn-block">
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <a id="forgotPassword" class="small">Forgot Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popUpFrame"></div>

@section Scripts{
    <script>
        var windowOptions = {
            animation: false,
            modal: true,
            width: 300,
            height: 200,
            visible: false,
            title: 'Forgot Password'
        };
        $("#popUpFrame").kendoWindow(windowOptions);
        $("#forgotPassword").click(function () {
            $("#popUpFrame").data("kendoWindow").refresh({
                url: "@Url.Action("ForgotPassword")",
            });
            $("#popUpFrame").data("kendoWindow").center().open();
            $(".k-window-action").hide();
        });
    </script>
}


