﻿
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Email Validation";
}

<div class="container">
    <div class="row justify-content-center ">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-header bg-transparent mb-0"><h5 class="text-center"><span class="font-weight-bold text-primary"></span></h5></div>
                <div class="card-body">
                    <h1>@ViewBag.Status</h1>
                    <p>@ViewBag.Message</p>
                </div>
                <div>
                    <a asp-action="Index" asp-controller="Auth" class="btn btn-primary mb-3">Back to login</a>
                </div>
            </div>
        </div>
    </div>
</div>




