﻿html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main{
    margin: 0;
    padding: 0;
    width: 100%;
}
.right-navbar{
    gap: 10px;
}

#spinner {
    display: none;
    width: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-size: 300px;
    text-align: center;
    padding: 10px;
    font: normal 16px Tahoma, Geneva, sans-serif;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 999999;
    overflow: auto;
}

#OverlaySpinner {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11013;
    width: 100%;
    height: 100%;
    background-color: #d8d8d8;
    Opacity: 0.5;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}


/*#wrapper{
    display : flex;
    
}*/

#wrapper .nav-item a:hover {
    background-color: lightgray;
    color: #111!important;
}

.notification {
    font-size: 25px;
}

.profile .bg-profile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    //color: white;
    font-size: 20px;
}
.profile i {
    vertical-align: middle;
    font-size: 25px;
}
