﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.ActivityLogViewModel
@{
	ViewData["Title"] = "Activity Log";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12">

		@(Html.Kendo().Grid<DigitalSign.ViewModels.ActivityLogViewModel>()
		.Name("grid")
		.Scrollable(s => s.Height("auto"))
		.Columns(columns =>
		{

		columns.Bound(p => p.Activity).Width(200);
		columns.Bound(p => p.TimeStamp).Format("{0:dd MMMM yyyy HH:mm:ss}").Width(200);
		columns.Bound(p => p.Deskripsi).Width(200);
		
		})
		.Pageable()
		.Sortable()
		.Filterable()

		.Resizable(re => re.Columns(true))
		.DataSource(dataSource => dataSource
		.Ajax()
		.PageSize(10)
		.Read(read => read.Action("Read", "ActivityLog"))
		)
		)


	</div>
</div>
