﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.Master.Role.MasterRoleViewModel

@using (Html.BeginForm(null,null,FormMethod.Post, new { id = "frm", name = "frm" }))
{
	<table class="table">
        @Html.HiddenFor(m => m.ID)
		<tr>
            <td>@Html.LabelFor(m => m.Code)</td>
            <td>
                @(Html.Kendo().TextBoxFor(m => m.Code).HtmlAttributes(new {@class="form-control", style = "width:200px", maxlength = "50" }))
                @*@Html.TextBoxFor(m => m.Code, new {@class="k-textbox", style = "width:200px", maxlength = "50", id = "code" })*@
                @Html.ValidationMessageFor(m => m.Code)
            </td>
        </tr>
		<tr>
			<td>@Html.LabelFor(m => m.Name)</td>
			<td>
                @(Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new { @class = "form-control", style = "width:200px", maxlength = "50" }))
                @*@Html.TextBoxFor(m => m.Name, new {@class="k-textbox", style = "width:200px", maxlength = "50" })*@
                @Html.ValidationMessageFor(m => m.Name)
            </td>
		</tr>
		<tr>
            <td>@Html.LabelFor(m => m.Description)</td>
            <td>
                @(Html.Kendo().TextAreaFor(m => m.Description).HtmlAttributes(new { @class = "form-control", style = "width:200px; height:80px;", maxlength = "100" }))
            @*<td>@Html.TextAreaFor(m => m.Description, new {@class="k-textbox px-2", style="width:200px; height:80px;", maxlength="100" })*@
        </tr>
		<tr>
            <td></td>
            <td>
                @Html.CheckBoxFor(m => m.IsActive) Is Active ?
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.CheckBoxFor(m => m.IsAdmin) Is Admin ?
            </td>
        </tr>
	</table>

    <br />

    <div class="col-md-5">
        <button type="submit" id="btnSave" class="btn btn-success">
            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>  Save
        </button>
        <a href="cancel" id="btnCancel" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>  Cancel
        </a>
    </div>
}


<script type="text/javascript">

    $(function() {

        $("#btnCancel").click(Index.Close);
        $("#btnSave").click(Index.Save);
        var code = $("#Code").val();
        if(code == "usr" || code == "adm"){
            $("#Code").prop('readonly', true);
            $("#Name").prop('readonly', true);
            $("#IsActive").click(function(){
                return false;
            });
            $("#IsAdmin").click(function () {
                return false;
            });
        } else {
            $("#Code").prop('readonly', false);
            $("#Name").prop('readonly', false);
            $("#IsActive").click(function(){
                return true;
            });
            $("#IsAdmin").click(function () {
                return true;
            });
        }
    });//(jQuery);
</script>
