﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.Master.Role.MasterRoleViewModel
@{
	ViewData["Title"] = "Role";
}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <a href=@Url.Action("Create") class="btn btn-primary" id="btnCreate" title="Create"><span class="fa fa-plus-circle"></span> Create</a>
        <br />
        <br />

        @using (Html.BeginForm())
        {

            @(Html.Kendo().Grid<DigitalSign.ViewModels.Master.Role.MasterRoleViewModel>()
                        .Name("grid")
                        .Scrollable(s => s.Height("auto"))
                        .Columns(columns =>
                        {

                            @*columns.Command(command =>
                            {
                                command.Custom("Edit").Click("Index.Edit").Text(" ").HtmlAttributes(new { @class = "fa fa-pencil btn btn-sm btn-warning edit-action mr-2", @title = "Edit" });
                                command.Custom("Delete").Click("Index.Delete").Text(" ").HtmlAttributes(new { @class = "fa fa-trash btn-sm btn btn-danger erase-action", @title = "Delete" });
                            }).Width(120).Title("Action");*@
                            columns.Bound(p => p.Code).Width(125);
                            columns.Bound(p => p.Name).Width(300);
                            columns.Bound(p => p.Description).Width(300);

                            columns.Bound("").ClientTemplate(@"#
                                if(IsActive)
                                {
                                    #<i class='fa fa-check isactive'></i>#
                                }
                                else{
                                    #<i class='fa fa-times isactive'></i>#
                                }#").Title("IsActive").Width(125);
                            columns.Bound("").ClientTemplate(
                    @"<button class='btn btn-sm btn-warning edit-action mr-2 k-button k-button-md k-rounded-md k-button-solid' data-id='#=ID#' onclick='Index.Edit(event)' title='Edit'><i class='fa fa-pencil-alt'></i></button>" +
                    @"<button class='btn btn-sm btn-danger erase-action k-button k-button-md k-rounded-md k-button-solid' data-id='#=ID#' onclick='Index.Delete(event)' title='Delete'><i class='fa fa-trash'></i></button>"
                            ).Title("Action").HtmlAttributes(new { style = "text-align: center" });
                        })
                        .Pageable()
                        .Sortable()
                        .Filterable()

                        .Resizable(re => re.Columns(true))
                        .Events(x => x.DataBound("AfterLoad"))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(10)
                                    .Read(read => read.Action("RoleList", "Role"))
                        )
            )
            @Html.Hidden("state", "")
        }

    </div>
</div>

<div id="popUp"></div>
<div id="popUpHistory"></div>

<script type="text/javascript">
    $(function () {
        var windowOptions = {
            animation: false,
            modal: true,
            width: 500,
            height: 400,
            visible: false,
            title: 'Create New Role'
        };
        var windowOptionsHistory = {
            animation: false,
            modal: true,
            width: 800,
            height: 500,
            visible: false,
            title: 'History'
        };

        $("#btnCreate").click(Index.Add);
        $("#popUp").kendoWindow(windowOptions);
        $("#frm").kendoValidator().data("kendoValidator");
        $("#popUpHistory").kendoWindow(windowOptionsHistory);

    });

    function AfterLoad() {
        $("td a").removeClass("k-button");
    };

    var Index = (function ($) {
        return {
            Add: function (e) {
                e.preventDefault();
                $(".k-window-title").html("Create New Role");
                $("#popUp").data("kendoWindow").refresh({
                    url: "@Url.Action("Create")"
                });

                $("#state").val("add");
                $("#popUp").data("kendoWindow").center().open();
            },
            History: function (e) {
                e.preventDefault();
                $(".k-window-title").html("History");
                var dataRow = this.dataItem($(e.currentTarget).closest("tr"));
                $("#popUpHistory").data("kendoWindow").refresh({
                    url: "@Url.Action("History")",
                    data: { code: dataRow.Code }
                });
                $("#state").val("history");
                $("#popUpHistory").data("kendoWindow").center().open();
            },
            Edit: function (e) {
                e.preventDefault();
                $(".k-window-title").html("Edit Role");
                //var dataRow = this.dataItem($(e.currentTarget).closest("tr"));
                var id = e.currentTarget.getAttribute("data-id");
                $("#popUp").data("kendoWindow").refresh({
                    url: "@Url.Action("Edit")",
                    data: { id: id }
                });
                $("#state").val("edit");
                $("#popUp").data("kendoWindow").center().open();
            },
            Delete: function (e) {
                e.preventDefault();
                //var dataRow = this.dataItem($(e.currentTarget).closest("tr"));
                var id = e.currentTarget.getAttribute("data-id");
                swal({
                    title: "Are you sure?",
                    text: "This operation cannot be undone!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },

                    function (isConfirm) {
                        if (isConfirm) {
                            showProgress();
                            //console.log(dataRow.ID);
                            $.ajax({
                                type: "POST",
                                data: { id: id },
                                //           async: false,
                                url: "@Url.Action("Delete")",
                                success: function (result) {
                                    if (result.isSucceed) {
                                        hideProgress();
                                        $("#grid").data("kendoGrid").dataSource.read();
                                        $("#grid").data("kendoGrid").refresh();
                                        swal("Deleted!", "Your file has been deleted", "success");
                                    } else {
                                        hideProgress();
                                        sweetAlert(result.Message, "Something went wrong!", "error");
                                    }

                                },
                                error: function (err) {
                                    //alert(err.Message);
                                    hideProgress();
                                    sweetAlert(err.Message, "Something went wrong!", "error");
                                }
                            });
                        }
                        else {
                            //hideProgress();
                            swal("Cancelled", "", "error");
                        }
                    });
            },

            Close: function (e) {
                e.preventDefault();
                $("#popUp").data("kendoWindow").close();
            },

            Save: function (e) {
                showProgress();
                e.preventDefault();
                if ($("#state").val() === "edit") {
                    url = "@Url.Action("Edit")";
                } else if
                    ($("#state").val() === "add") {
                    url = "@Url.Action("Create")";
                }

                $.ajax({
                    type: "POST",
                    data: $("#frm").serialize() + "&state=" + $('#state').val(),
                    //     async: false,
                    url: url,
                    success: function (result) {

                        if (result.isSucceed) {
                            hideProgress();
                            $("#grid").data("kendoGrid").dataSource.read();
                            $("#grid").data("kendoGrid").refresh();
                            $("#popUp").data("kendoWindow").close();

                            swal("Success!", result.message, "success");
                        }
                        else {
                            hideProgress();
                            swal("Failed!", result.message, "error");
                            showValidateMessage(result.Data);
                        }
                    },
                    error: function (err) {
                        hideProgress();
                        sweetAlert(err.Message, "Something went wrong!", "error");
                    }
                });
                //}

            }
        }


    })(jQuery);

    function showValidateMessage(validations) {
        for (var validation of validations) {

            let propertyName = validation.PropertyName;
            let errorMessage = validation.ErrorMessage;

            $(`span[data-valmsg-for=${propertyName}]`).text(errorMessage).css("color", "red").css("display","block");
            console.log(errorMessage + " " + propertyName);
        }
    }
</script>