﻿
html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    min-height: 100%;
    grid-template-rows: 0.7fr 6fr 0.5fr;
    display: grid;
}

#spinner {
    display: none;
    width: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-size: 300px;
    text-align: center;
    padding: 10px;
    font: normal 16px Tahoma, Geneva, sans-serif;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 999999;
    overflow: auto;
}

#OverlaySpinner {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11013;
    width: 100%;
    height: 100%;
    background-color: #d8d8d8;
    Opacity: 0.5;
}

a:hover {
    opacity: 0.8;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    height: 100%;
    color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    background-color: #A71F24 !important;
}

.menus a span {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 28px;
}


form input {
    border: none;
    margin-top:5px;
    padding: 10px 5px;
    border-radius: 0px 5px 5px 0px;
}

form input[type='submit']{
    margin-top: 10px;
    width: 50%;
}

header input:focus-within {
    outline: 0;
}

header label {
    padding: 8px 10px;
    margin-right: -5px;
}
header section{
    display: flex;
    flex-direction: row;
    text-align: center;
}

header .nav-item{
    font-size: 1.5em;
    color: white;
    margin-right: 20px;
}

header div{
    text-align: center;
}

header div p{
    font-size: 0.8em;
    margin-bottom: 0px;
}

.main-container {
    display: flex;
}

.nav-side {
    padding-top: 20px;
    width: 15%;
    background-color: #A5C9CA;
}

.nav-side .logo {
    display: flex;
    align-items: center;
}

.nav-side .logo img {
    width: 50px;
    margin-right: 15px;
}



.nav-side .menus a {
    display: flex;
    justify-content: space-between;
    color: rgb(40, 40, 40);
    font-weight: bold;
    font-size: 1em;
    padding: 10px 20px;
    text-decoration: none;
}
.nav-side .menus a:hover {
    background-color: #E7F6F2;
}

.main-side {
    width: 85%;
}

.main-side main {
    padding-right: 20px;
    width: 80%;
    margin: 20px auto 20px;
}

.form-group{
    margin-top: 10px;
}

.form-group a{
    text-decoration: none;
}


.form-group a:hover {
text-decoration: underline;
}
footer {
    box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.1);
    height: 100%;
    background-color: #A71F24;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
footer p {
    color: black;
    margin-bottom: 0px;
}

.bg-color-accent {
    background-color: #A71F24;
}
.text-color-accent {
    color: #A71F24;
}
.starbridges-validation{
    font-size:small;
    color:red;
}
.empty-grid {
    margin: 0 auto;
    margin-bottom: 6px;
    margin-top:6px;
}

#container {
    margin: 0 auto;
    position: relative;
    width: fit-content;
    z-index: 2;
}
canvas {
    position: relative;
    border: 1px solid #000;
    display: block;
    z-index: 1;
}
span.k-input {
    background-color: unset;
    border-color:#d3d3d3
}