﻿@{
	ViewData["Title"] = "Beranda";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
</div>

<!-- Content Row -->
<div class="row">
	 <!-- Card -->
	<div class="col-xl-4 col-md-6 mb-4">
		<div class="card border-left-warning shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
							Pending Document</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.HasilCount["Pending"]</div>
					</div>
					<div class="col-auto">
						<i class="fa fa-file fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Card -->
	<div class="col-xl-4 col-md-6 mb-4">
		<div class="card border-left-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
							On Going Document</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.HasilCount["Ongoing"]</div>
					</div>
					<div class="col-auto">
						<i class="fa fa-file fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Card -->
	<div class="col-xl-4 col-md-6 mb-4">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
							Complete Document</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.HasilCount["Complete"]</div>
					</div>
					<div class="col-auto">
						<i class="fa fa-file fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<!-- Pie Chart -->
    <div class="col-sm-12">
        <div class="card shadow mb-4">
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
	<script>
		// Pie Chart Example
		var ctx = document.getElementById("myPieChart");
		var myPieChart = new Chart(ctx, {
		  type: 'pie',
		  data: {
			labels: ["Pending", "On Going", "Complete"],
			datasets: [{
			  data: [@ViewBag.HasilCount["Pending"], @ViewBag.HasilCount["Ongoing"], @ViewBag.HasilCount["Complete"]],
			  backgroundColor: ['#ffc107', '#0d6efd', '#198754'],
			  hoverBackgroundColor: ['#E6AE06', '#0C63E4', '#146E44'],
			  hoverBorderColor: "rgba(234, 236, 244, 1)",
			}],
		  },
		  options: {
			maintainAspectRatio: false,
			tooltips: {
			  backgroundColor: "rgb(255,255,255)",
			  bodyFontColor: "#858796",
			  borderColor: '#dddfeb',
			  borderWidth: 1,
			  xPadding: 15,
			  yPadding: 15,
			  displayColors: false,
			  caretPadding: 10,
			},
			legend: {
			  display: true,
			  position: 'bottom',
			},
			//cutoutPercentage: 80,
		  },
		});
	</script>
}
