﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.Master.User.MasterUserViewModel
@{
	ViewData["Title"] = "Beranda";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
</div>

@if (Model.Status != "LinkedAccount")
{
	<!-- Content Row -->
	<div class="row">
		<div class="col-12">
			<div class="alert alert-danger" role="alert">
				<h4 class="alert-heading">Peringatan !!!</h4>
				<p>Anda Belum Melakukan "Penautan Akun", Silahkan Klik Tombol Dibawah</p>
				<hr>
				<a class="btn btn-md btn-block btn-primary" asp-action="LinkAccount">Tautkan Akun Sekarang . . .</a>
			</div>			
		</div>
	</div>
}
else
{
<!-- Content Row -->
<div class="row">
	 <!-- Card -->
	<div class="col-xl-4 col-md-6 mb-4">
		<div class="card border-left-warning shadow h-100 py-2 card-status" data-status="Terkirim">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
							Pending Document</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.HasilCount["Pending"]</div>
					</div>
					<div class="col-auto">
						<i class="fa fa-file fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Card -->
	<div class="col-xl-4 col-md-6 mb-4">
		<div class="card border-left-primary shadow h-100 py-2 card-status" data-status="Ongoing">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
							On Going Document</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.HasilCount["Ongoing"]</div>
					</div>
					<div class="col-auto">
						<i class="fa fa-file fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Card -->
	<div class="col-xl-4 col-md-6 mb-4">
		<div class="card border-left-success shadow h-100 py-2 card-status" data-status="Complete">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
							Complete Document</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.HasilCount["Complete"]</div>
					</div>
					<div class="col-auto">
						<i class="fa fa-file fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<!-- Pie Chart -->
    <div class="col-sm-12">
        <div class="card shadow mb-4">
            <!-- Card Body -->
            <div class="card-body">
				
				@(Html.Kendo().Grid<DigitalSign.ViewModels.Master.Document.MasterDocumentViewModel>()
					.Name("grid")
					.Scrollable(s => s.Height("auto"))
					.Columns(columns =>
					{
						columns.Bound(p => p.Title).Title("Document").Width(125);
						columns.Bound(p => p.CreatedDate).Title("Upload Date").Format("{0:dd-MM-yyyy}").Width(200);
						columns.Bound(p => p.CreatedBy).Title("Uploader").Width(200);
						columns.Bound(p => p.Status).Width(200);
					})                          
					.Pageable()
					.Sortable()
					.Filterable()
					.Resizable(re => re.Columns(true))
					.DataSource(dataSource => dataSource
						.Ajax()
						.PageSize(5)
								.Read(read => read.Action("ListDocumentUser", "Beranda"))
					)
				)
            </div>
        </div>
    </div>
</div>	
}
<script type="text/javascript">
const cardStatus = document.querySelectorAll('.card-status');
cardStatus.forEach(function(e) {
    e.addEventListener('click', function() {
		var dataSource = $("#grid").data("kendoGrid").dataSource;
        dataSource.read({ Status: $(this).data('status') });
	})
})
</script>



