﻿@model DigitalSign.ViewModels.Master.User.MasterUserViewModel

@{
	ViewData["title"] = "Penautan Akun";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewData["title"]</h1>
</div>

<div class="row">
	<div class="col-sm-12 col-md-12 text-center">
		<iframe src="@ViewBag.URLLinkAccount" name="myFrame" class="col-lg-6 col-md-8 col-sm-12 border-0" height="600px" allow="camera;"></iframe>
	</div>
</div>

@section Scripts{
<script>

</script>
}

