﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.Security.RegisterViewModel;

@{
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
	ViewData["Title"] = "Register";
}

<div class="container flex-grow-1 flex-shrink-0 py-5">
	<div class="mb-5 p-4 bg-white shadow-sm">
		<h3>Register</h3>
		<div id="stepper1" class="bs-stepper">
			<div class="bs-stepper-header" role="tablist">
				<div class="step" data-target="#test-l-1">
					<button type="button" class="step-trigger" role="tab" id="stepper1trigger1" aria-controls="test-l-1">
						<span class="bs-stepper-circle">1</span>
						<span class="bs-stepper-label">Account</span>
					</button>
				</div>
				<div class="bs-stepper-line"></div>
				<div class="step" data-target="#test-l-2">
					<button type="button" class="step-trigger" role="tab" id="stepper1trigger2" aria-controls="test-l-2">
						<span class="bs-stepper-circle">2</span>
						<span class="bs-stepper-label">Identity</span>
					</button>
				</div>
				<div class="bs-stepper-line"></div>
				<div class="step" data-target="#test-l-3">
					<button type="button" class="step-trigger" role="tab" id="stepper1trigger3" aria-controls="test-l-3">
						<span class="bs-stepper-circle">3</span>
						<span class="bs-stepper-label">Activation</span>
					</button>
				</div>
				<div class="bs-stepper-line"></div>
				<div class="step" data-target="#test-l-4">
					<button type="button" class="step-trigger" role="tab" id="stepper1trigger4" aria-controls="test-l-4">
						<span class="bs-stepper-circle">4</span>
						<span class="bs-stepper-label">Liveness</span>
					</button>
				</div>
			</div>
			<div class="bs-stepper-content">
				<form onSubmit="return false">
					<div id="test-l-1" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper1trigger1">
						<table style="width:100%">
							<tr>
								<td>
									<label class="d-block">Username</label>
									@Html.TextBoxFor(m => m.Username, new { style = "width:90%", @class = "form-control", maxlength = "50"})
									<label class="d-block">Email</label>
									@Html.TextBoxFor(m => m.Email, new { style = "width:90%", @class = "form-control", maxlength = "50"})
									<label class="d-block">Phone Number</label>
									@Html.TextBoxFor(m => m.PhoneNumber, new { style = "width:90%", @class = "form-control", maxlength = "50"})
								</td>
								<td>
									<label class="d-block">Password</label>
									@Html.TextBoxFor(m => m.Password, new { style = "width:90%", @class = "form-control", maxlength = "50", type = "password"})
									<label class="d-block">Confirm Password</label>
									@Html.TextBoxFor(m => m.ConfirmPassword, new { style = "width:90%", @class = "form-control", maxlength = "50", type = "password"})
									<label class="d-block">Company Name</label>
									@Html.TextBoxFor(m => m.CompanyName, new { style = "width:90%", @class = "form-control", maxlength = "50" })
								</td>
							</tr>
						</table>
						<button class="btn btn-primary mt-3" onclick="stepper1.next()">Next</button>
					</div>
					<div id="test-l-2" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper1trigger2">
						<table style="width:100%">
							<tr>
								<td>
									<label class="d-block">First Name</label>
									@Html.TextBoxFor(m => m.FirstName, new { style = "width:90%", @class = "form-control", maxlength = "50" })
									<label class="d-block">Midle Name</label>
									@Html.TextBoxFor(m => m.MidleName, new { style = "width:90%", @class = "form-control", maxlength = "50" })
									<label class="d-block">Last Name</label>
									@Html.TextBoxFor(m => m.LastName, new { style = "width:90%", @class = "form-control", maxlength = "50"})
									<label class="d-block">Birth Place</label>
									@Html.TextBoxFor(m => m.BirthPlace, new { style = "width:90%", @class = "form-control", maxlength = "50"})
								</td>
								<td class="">
									<label class="d-block">NIK</label>
									@Html.TextBoxFor(m => m.NIK, new { style = "width:90%", @class = "form-control", maxlength = "50" })
									<label class="d-block">Address</label>
									@Html.TextAreaFor(m => m.Address, new { style = "width:90%", @class = "form-control", maxlength = "200" })
									<label class="d-block">Birth Date</label>
									 @*@(Html.Kendo().DatePicker()
										.Name("BirthDate")
										.Format("dd/MM/yyyy")
										.HtmlAttributes(new { style = "width: 90%", title = "datepicker" })
									)*@
									<input type="date" id="BirthDate" class="form-control" style="width:90%">
									<br />
									<br />
									<br />
								</td>
							</tr>
							<tr>
								<td colspan=2>
									<h4></h4>
								</td>
							</tr>
							<tr style="border-top:2px solid black">
								<td colspan=2>
									<h4>Upload</h4>
								</td>
							</tr>

							<tr>
								<td>
									<div id="ktp-contain"></div>
									<label class="d-block">NIK</label>
									<input type="file" class="form-control-file" id="KTPFile">
								</td>
								<td>
									<div id="photo-contain"></div>
									<label class="d-block">Photo</label>
									<input type="file" class="form-control-file" id="PhotoFile" onchange="document.getElementById('photo-preview').src = window.URL.createObjectURL(this.files[0])">
								</td>
							</tr>
						</table>
						<button class="btn btn-primary mt-3" onclick="stepper1.previous()">Previous</button>
						<button class="btn btn-primary mt-3" onclick="Submit()">Submit</button>
					</div>
				</form>
					<div id="test-l-3" role="tabpanel" class="bs-stepper-pane text-center" aria-labelledby="stepper1trigger3">
						<form onSubmit="return false" id="Form-activation">
							<table class="col-lg-6 col-sm-12 mx-auto">
						@*		<tr>
									<td>
										<label class="d-block">NIK</label>
									</td>
									<td>
										<input type="Text" id="nik-activation" name="nik" class="form-control"/>
									</td>
								</tr>*@
								<tr>
									<td>
										<label class="d-block">Code</label>
									</td>
									<td>
										<input type="Text" id="code-activation" name="code" class="form-control"/>
									</td>
								</tr>
								<a class="btn btn-secondary" onclick="resendCode()">Click here if you not have an email</a>

							</table>

							<button class="btn btn-primary mt-3" onclick="activation()">Activate</button>
						</form>
					</div>
					<div id="test-l-4" role="tabpanel" class="bs-stepper-pane text-center" aria-labelledby="stepper1trigger4">
						<iframe src="" name="myFrame" class="col-12 p-0 d-block" height="500px" allow="camera;"></iframe>
						@*<button class="btn btn-primary mt-3" onclick="stepper1.previous()">Previous</button>
							<button type="submit" class="btn btn-primary mt-3">Submit</button>*@
						<a class="btn btn-primary mt-4" asp-action="Index" asp-controller"Auth">To Login Page</a>
					</div>
				
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
	<script>
		var stepper1

		document.addEventListener('DOMContentLoaded', function () {

			stepper1 = new Stepper(document.querySelector('#stepper1'))

		   var btnNextList = [].slice.call(document.querySelectorAll('.btn-next-form'))

		   btnNextList.forEach(function (btn) {
			 btn.addEventListener('click', function () {
			   stepperForm.next()
			 })
		   })

		   $('#KTPFile').change(function(){
			   showFoto('ktp-contain', 'KTPFile');
		   })

		   $('#PhotoFile').change(function(){
			   showFoto('photo-contain', 'PhotoFile');
		   })

		})

		function showFoto(container, input){
			const foto = window.URL.createObjectURL($(`#${input}`)[0].files[0]);
			const elm = `<img src="${foto}" alt="image" height="100" />`;
			$(`#${container}`).html(elm);
		}

		function resendCode(){
			showProgress();
			let activationModel = $("#Form-activation").serialize();
			$.ajax({
				type: "GET",
				data: {
					nik : $('#NIK').val()
				},
				url: `@Url.Action("SendEmail", "Beranda")`,
				success: function (result) {
					hideProgress();
					if (result.isSucceed) {
						 swal("Success!", result.Message, "success");
					}
					else {
						swal("Failed!", result.Message, "error");
					}
				},
				error: function (err) {
					swal("Something went wrong!", err.Message, "error");
				}
			});
		}

		function activation(){
			showProgress();
			let activationModel = $("#Form-activation").serialize();
			$.ajax({
				type: "POST",
				data: {
					nik : $('#NIK').val(),
					code : $('#code-activation').val()
				},
				url: `@Url.Action("activation", "Beranda")`,
				success: function (result) {
					hideProgress();
					if (result.isSucceed) {
						swal("Success!", result.Message, "success");
						let enpoint = 'https://sb-api.tilaka.id/personal-webview/guide?request_id='+ result.Data.id;
						$('iframe').attr('src',enpoint);
						stepper1.to(4);
					}
					else {
						swal("Failed!", result.Message, "error");
						//showValidationMessage(result.Data);
					}
				},
				error: function (err) {
					swal("Something went wrong!", err.Message, "error");
				}
			});
		}

		function encodeImageFileAsURL(element) {
		   var file = element[0].files[0];
		   var reader = new FileReader();
		   reader.onloadend = function() {
			 console.log('RESULT', reader.result)
		   }
		   reader.readAsDataURL(file);
		 }


		function Submit(){
			showProgress();

			 var fdata = new FormData();

			 var KTPFile = $('#KTPFile')[0].files[0];
			 var Photofile = $('#PhotoFile')[0].files[0];
			 const username = $('#Username').val();
			 const email = $('#Email').val();
			 const phoneNumber = $('#PhoneNumber').val();
			 const password = $('#Password').val();
			 const confirmPassword = $('#ConfirmPassword').val();
			 const companyName = $('#CompanyName').val();
			 const firstName = $('#FirstName').val();
			 const middleName = $('#MidleName').val();
			 const lastName = $('#LastName').val();
			 const birthPlace = $('#BirthPlace').val();
			 const NIK = $('#NIK').val();
			 const address = $('#Address').val();
			 const birthDate = $('#BirthDate').val();

			 fdata.append("username", username);
			 fdata.append("password", password);
			 fdata.append("confirmPassword", confirmPassword);
			 fdata.append("email", email);
			 fdata.append("phoneNumber", phoneNumber);
			 fdata.append("companyName", companyName);
			 fdata.append("firstName", firstName);
			 fdata.append("midleName", middleName);
			 fdata.append("lastName", lastName);
			 fdata.append("nIK", NIK);
			 fdata.append("birthPlace", birthPlace);
			 fdata.append("birthDate", birthDate);
			 fdata.append("address", address);
			 fdata.append("kTPFile", KTPFile);
			 fdata.append("photoFile", Photofile);

			 console.log(fdata);

			 const actionUrl = `@Url.Action("SubmitRegister", "Beranda")`;
			 $.ajax({
				 url: actionUrl,
				 method: "POST",
				 data: fdata,
				 dataType: "json",
				 enctype: 'multipart/form-data',
				 processData: false,
				 contentType: false,
				 success: function (res) {
					 console.log(res);
					 hideProgress();
					 if(res.isSucceed){
						 if(res.Data.isSucceed){
							 swal("Success!", res.Data.Message, "success");
							 stepper1.to(3);
						 }else{
							 swal("Failed!", res.Data.Message, "error");
						 }
						 
					 }else{
						 const validate = showValidateMessage(res.Data);
						 swal("Failed!", validate, "error");
					 }
				 },
				 error: function () { }
			 });
		}

		function showValidateMessage(validations) {
			let validate = "";
			 for (var validation of validations) {

				 let propertyName = validation.PropertyName;
				 let errorMessage = validation.ErrorMessage;

				 validate += `${errorMessage} \n`;
				 //$(`span[data-valmsg-for=${propertyName}]`).text(errorMessage).css("color", "red").css("display","block");
				 //console.log(errorMessage + " " + propertyName);
			 }
			 return validate;
		 }

	</script>
