﻿@{
    ViewData["Title"] = "Verif Link Account";
}

@*<a href="" class="btn btn-success" id="update-link-account">Update Link Account</a>*@

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        let reqId = getParameterByName('request-id');
        let tilakaName = getParameterByName('tilaka-name');

        console.log(reqId);
        console.log(tilakaName);
        if (reqId == "null") {
            var split = window.location.href.split("?")[1];
            window.location.href = baseurl + "Document/VerifySignDocument?" + split;
        } else {
            $.ajax({
                type: "GET",
                data: {
                    request_id: reqId,
                    tilaka_name: tilakaName
                },
                url: `@Url.Action("UpdateTilakaName", "Beranda")`,
                success: function (result) {
                    hideProgress();
                    if (result.isSucceed) {
                        swal("Success!", result.Message, "success");
                        setTimeout(function () {
                            window.location = "../Beranda/Index";
                        }, 2000);
                    }
                    else {
                        swal("Failed!", result.Message, "error");
                    }
                },
                error: function (err) {
                    swal("Something went wrong!", err.Message, "error");
                }
            });
        }
    });


    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' ')
        );
    }

</script>

