﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.Master.Document.DocumentCategoryViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm", name = "frm" }))
{
    <table class="table">
        @Html.HiddenFor(m => m.ID)
        <tr>
            <td>@Html.LabelFor(m => m.CategoryName)</td>
            <td>
                @(Html.Kendo().TextBoxFor(m => m.CategoryName).HtmlAttributes(new {@class="form-control", style = "width:200px", maxlength = "50" }))
                @Html.ValidationMessageFor(m => m.CategoryName)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.CategoryDescription)</td>
            <td>@(Html.Kendo().TextAreaFor(m => m.CategoryDescription).HtmlAttributes(new {@class="form-control", style="width:200px; height:80px;", maxlength="100" }))
        </tr>
    </table>

    <br />

    <div class="col-md-5">
        <button type="submit" id="btnSave" class="btn btn-success">
            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>  Save
        </button>
        <a href="cancel" id="btnCancel" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>  Cancel
        </a>
    </div>
}

<script type="text/javascript">
    $("#btnSave").click(function (e) {
        e.preventDefault();
        showProgress();
        var url = "@Url.Action("CreateEdit", "DocumentCategory")";

        $.ajax({
            type: "POST",
            data: $("#frm").serialize(),
            //     async: false,
            url: url,
            success: function (result) {

                if (result.isSucceed) {
                    hideProgress();
                    swal({
                        type: "success",
                        title: result.Message,
                        text: "Click ok to proceed",
                        customClass: "custom-popup-success",
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                window.location.href = "@Url.Action("Index", "DocumentCategory")";
                            }
                        }
                    );
                    }
                else {
                    hideProgress();
                    swal("Failed!", result.Message, "error");
                    showValidateMessage(result.Data);
                }
            },
            error: function (err) {
                hideProgress();
                sweetAlert(err.Message, "Something went wrong!", "error");
            }
        });
    });

    $("#btnCancel").click(function (e) {
        e.preventDefault();
        $("#popUp").data("kendoWindow").close();
    });
</script>