﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.Master.Document.DocumentCategoryViewModel
@{
    ViewData["Title"] = "Document Category";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <a href="javascript:;" class="btn btn-primary" id="btnCreate" title="Create"><span class="fa fa-plus-circle"></span> Add</a>
        <br />
        <br />

        @using (Html.BeginForm())
        {
            @(Html.Kendo().Grid<DigitalSign.ViewModels.Master.Document.DocumentCategoryViewModel>()
                .Name("grid")
                .Scrollable(s => s.Height("auto"))
                .Columns(columns =>
                {
                    columns.Bound(p => p.ID).Width(125);
                    columns.Bound(p => p.CategoryName).Width(300);
                    columns.Bound(p => p.CategoryDescription).Width(300);
                    columns.Bound("").ClientTemplate("<div class='custom-table-action'>" +
                    "<a data-id='#=ID#' class='btn btn-sm btn-warning edit-action mr-2 k-button k-button-md k-rounded-md k-button-solid' onclick='editDocumentCategory(this)' title='Edit'><i class='fa fa-pencil-alt'></i></a>" +
                    "<a data-id='#=ID#' class='btn btn-sm btn-danger erase-action k-button k-button-md k-rounded-md k-button-solid' onclick='deleteDocumentCategory(this)' title='Edit'><i class='fa fa-trash'></i></a>" +
                    "</div>").Width(150).Title("Action").Filterable(false);
                })
                .Pageable()
                .Sortable()
                .NoRecords(x => x.Template("<div class='empty-grid'>No data</div>"))
                .Filterable()
                .Resizable(re => re.Columns(true))
                .Events(x => x.DataBound("AfterLoad"))
                .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(10)
                .Read(read => read.Action("GetList", "DocumentCategory"))
                )
                )
        }

    </div>
</div>

<div id="popUp"></div>

<script type="text/javascript">
    $(function () {
        var windowOptions = {
            animation: false,
            modal: true,
            width: 500,
            height: 400,
            visible: false,
            title: 'Create New Document Category'
        };

        //$("#btnCreate").click(Index.Add);
        $("#popUp").kendoWindow(windowOptions);
        $("#frm").kendoValidator().data("kendoValidator");

    });

    function AfterLoad() {
        $("td a").removeClass("k-button");
    };

    function editDocumentCategory(e){
        //e.preventDefault();
        $(".k-window-title").html("Edit Document Category");
        //var dataRow = $(this).attr("data-id");
        var dataRow = e.getAttribute("data-id");
        $("#popUp").data("kendoWindow").refresh({
            url: "@Url.Action("Edit")",
            data: { id: dataRow }
        });
        $("#popUp").data("kendoWindow").center().open();
    };

    function deleteDocumentCategory(e) {
        //e.preventDefault();
        //var dataRow = $(this).attr("data-id");
        var dataRow = e.getAttribute("data-id");
        swal({
            title: "Are you sure?",
            text: "This operation cannot be undone!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            cancelButtonText: "No, cancel!",
            closeOnConfirm: false,
            closeOnCancel: false
        },

            function (isConfirm) {
                if (isConfirm) {
                    showProgress();
                    console.log(dataRow);
                    $.ajax({
                        type: "POST",
                        data: { id: dataRow },
                        //           async: false,
                        url: "@Url.Action("Delete")",
                        success: function (result) {
                            if (result.isSucceed) {
                                hideProgress();
                                $("#grid").data("kendoGrid").dataSource.read();
                                $("#grid").data("kendoGrid").refresh();
                                swal("Deleted!", "Your file has been deleted", "success");
                            } else {
                                hideProgress();
                                sweetAlert(result.Message, "Something went wrong!", "error");
                            }

                        },
                        error: function (err) {
                            //alert(err.Message);
                            hideProgress();
                            sweetAlert(err.Message, "Something went wrong!", "error");
                        }
                    });
                }
                else {
                    //hideProgress();
                    swal("Cancelled", "", "error");
                }
            });
    }

    $("#btnCreate").click(function(e){
        e.preventDefault();
        $(".k-window-title").html("Create New Document Category");
        $("#popUp").data("kendoWindow").refresh({
            url: "@Url.Action("Create")"
        });
        $("#popUp").data("kendoWindow").center().open();
    });

    function showValidateMessage(validations) {
        for (var validation of validations) {

            let propertyName = validation.PropertyName;
            let errorMessage = validation.ErrorMessage;

            $(`span[data-valmsg-for=${propertyName}]`).text(errorMessage).css("color", "red").css("display", "block");
            console.log(errorMessage + " " + propertyName);
        }
    }
</script>