﻿<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>@ViewData["Title"] - E-Materai</title>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="~/css/sweetalert.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="~/css/site1.css" />

	<!-- Custom fonts for this template-->
	<link href="~/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<!-- Custom styles for this template-->
	<link href="~/css/style-layout.css" rel="stylesheet" type="text/css">
	<link href="~/lib/kendo-ui-core/2022.2.802/styles/kendo.common-material.min.css" rel="stylesheet" type="text/css" />
	<link href="~/lib/kendo-ui-core/2022.2.802/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
	<link href="~/lib/kendo-ui-core/2022.2.802/styles/kendo.material.min.css" rel="stylesheet" type="text/css" />

	<!-- Bootstrap core JavaScript-->
	<script src="~/js/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
	<script src="~/js/site.js"></script>
	<script src="~/js/app.js"></script>
	<script src="~/js/main.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="~/js/js-layout.js"></script>
	@*<script src="~/js/sketchpad.js"></script>*@
	<!-- Page level plugins -->
	<script src="~/js/sweetalert.min.js"></script>
	<script src="~/lib/pdfjs/build/pdf.js"></script>
	@*<script src="~/js/kendo.modernizr.custom.js"></script>*@
	<script src="~/lib/kendo-ui-core/2022.2.802/js/jszip.min.js"></script>
	<script src="~/lib/kendo-ui-core/2022.2.802/js/kendo.all.min.js"></script>
	<script src="~/lib/kendo-ui-core/2022.2.802/js/kendo.aspnetmvc.min.js"></script>
	<style type="text/css">
		* {
			-webkit-box-sizing: border-box !important;
			-moz-box-sizing: border-box !important;
			box-sizing: border-box !important;
		}

			*:before,
			*:after {
				-webkit-box-sizing: border-box !important;
				-moz-box-sizing: border-box !important;
				box-sizing: border-box !important;
			}

		.failed {
			border-color: rgba(229, 103, 23, 0.8);
			box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
			outline: 0 none;
		}

		.bg-gradient-accent {
			background-color: #A71F24;
			background-image: linear-gradient(180deg, #B02126 10%, #A71F24 100%);
			background-size: cover;
		}

		.image-canvas {
			position: relative;
			height: 400px;
		}

		.img-file-upload {
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			text-align: center;
			z-index: 1;
			opacity: 0;
			height: 400px;
		}

		.sertificate-img {
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			text-align: center;
			height: 400px;
			width: 400px;
		}

		.img-file-upload:hover {
			cursor: pointer;
		}

		.img-profile-container {
			position: relative;
			width: 200px;
			height: 200px;
		}

		.img-profile {
			border-radius: 50%;
			width: 200px;
			height: 200px;
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
		}

		.btn-img-profile {
			position: absolute;
			bottom: 0;
			right: 0;
		}

		.img-profile-upload {
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			text-align: center;
			z-index: 1;
			opacity: 0;
			height: 200px;
			width: 200px;
		}

			.img-profile-upload:hover {
				cursor: pointer;
			}

		.card-status {
			cursor: pointer;
		}
	</style>

</head>

<body id="page-top">

	<div id="OverlaySpinner"></div>
	<img id="spinner" src="~/Image/loading-circle.gif" />
	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fa fa-laugh-wink"></i>
				</div>
				<div class="sidebar-brand-text mx-3">E Materai</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item">
				<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">
					<i class="fa fa-fw fa-home"></i>
					<span>Dashboard</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light" asp-area="" asp-controller="Materai" asp-action="Index">
					<i class="fa fa-fw fa-file"></i>
					<span>Document</span>
				</a>
			</li>

		</ul>
		<!-- End of Sidebar -->
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>

					<!-- Topbar Search -->
					<a class="navbar-brand">Welcome, @ViewBag.Username</a>
					<!-- Topbar Navbar -->
					<ul class="navbar-nav ml-auto">
						<!-- Nav Item - User Information -->
						<li class="nav-item dropdown no-arrow">
							<a class="dropdown-item" asp-controller="Home" asp-action="Logout">
								<i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i>
								Logout
							</a>
							<!-- Dropdown - User Information -->
							@*<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
								 aria-labelledby="userDropdown">
								<a class="dropdown-item" asp-controller="Home" asp-action="Logout">
									<i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i>
									Logout
								</a>
							</div>*@
						</li>

					</ul>

				</nav>
				<!-- End of Topbar -->
				<!-- Begin Page Content -->
				<div class="container-fluid pb-3">
					@RenderBody()
				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->
			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container align-items-center">
					&copy; 2022 - DigitalSign.WebMaterai - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->
	<!-- Custome JavaScript-->

	<!-- Page level custom scripts -->
	<script>
		//end add
		var spinnerVisible = false;
		function showProgress() {
			if (!spinnerVisible) {
				$("#spinner").css("display", "block");
				$("#OverlaySpinner").css("display", "block");
				spinnerVisible = true;
				$("#spinner").fadeIn("fast");
			}
		};
		function hideProgress() {
			if (spinnerVisible) {
				$("#OverlaySpinner").css("display", "none");
				$("#spinner").css("display", "none");
				var spinner = $("#spinner");
				spinner.stop();
				spinner.fadeOut("fast");
				spinnerVisible = false;
			}
		};

	</script>
	@await RenderSectionAsync("Scripts", required: false)

</body>

</html>