﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"]</title>

    <link href="~/css/sweetalert.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/site1.css" />
    <!-- Custom fonts for this template-->
    <link href="~/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <!-- Custom styles for this template-->
    <link href="~/css/style-layout.css" rel="stylesheet" type="text/css">

</head>

<body class="bg-gradient-danger d-flex justify-content-center align-items-center">
    <div id="OverlaySpinner">
    <img id="spinner" src="~/Image/loading-circle.gif" />
    </div>
    <div class="container">
        @RenderBody()
    </div>

     <!-- Bootstrap core JavaScript-->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

     <script src="~/js/sweetalert.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/js/js-layout.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
     <script>
        //end add
        var spinnerVisible = false;
        function showProgress() {
            if (!spinnerVisible) {
                $("#spinner").css("display", "block");
                $("#OverlaySpinner").css("display", "block");
                spinnerVisible = true;
                $("#spinner").fadeIn("fast");
            }
        };
        function hideProgress() {
            if (spinnerVisible) {
                $("#OverlaySpinner").css("display", "none");
                $("#spinner").css("display", "none");
                var spinner = $("#spinner");
                spinner.stop();
                spinner.fadeOut("fast");
                spinnerVisible = false;
            }
        };
    </script>
</body>

</html>