﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.Master.User.AccountInfoUserViewModel

<div class="row">
    <div class="col-md-12">
        <form method="post" id="frmAccountInfo" name="frmAccountInfo" enctype="multipart/form-data">
            <div class="form-create-edit">

                 <div class="form-group row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                        <div class="img-profile-container">
                            <input type="file" accept="image/*" class="img-profile-upload" id="Photo" name="Photo" />
                            @if(Model.PhotoFile!=null || Model.PhotoFile!=""){
                                <img class="img-profile rounde-circle" src="@Model.PhotoFile" />
                            }
                            else
                            {
                                <img class="img-profile rounde-circle" src="~/Image/default.png" />
                            }
                            <a class="btn btn-img-profile btn-circle btn-primary"><i class="fa fa-edit"></i></a>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        @Html.LabelFor(m => m.Username)
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control k-textbox", placeholder = "Username", @readonly=true })
                        @Html.ValidationMessageFor(m => m.Username)
                    </div>
               @* </div>
                <div class="form-group row">*@
                   @* <div class="col-lg-6 col-md-12 col-sm-12">
                        @Html.LabelFor(m => m.TilakaName)
                        <div class="input-group">
                            <input type="text" class="form-control k-textbox my-0" asp-for="TilakaName" placeholder="Tilaka Name" readonly=true>
                            <span id="tempTilakaName" hidden>@Model.TilakaName</span>
                            <div class="input-group-append">
                                <button class="btn btn-warning" style="border-top-right-radius:5px;border-bottom-right-radius:5px;" type="button" id="changeTilakaName">
                                <i class="fa fa-edit"></i>
                                </button>

                                <button class="btn btn-danger" type="button" id="cancelChangeTilakaName">
                                <i class="fa fa-refresh"></i>
                                </button>
                            </div>
                        </div>
                    </div>*@
                </div>

                <div class="form-group row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control k-textbox", placeholder = "Email", Readonly=true })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
               @* </div>
                <div class="form-group row">*@
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        @Html.LabelFor(m => m.PhoneNumber)
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control k-textbox", placeholder = "Phone Number", Readonly=true })
                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        @Html.LabelFor(m => m.CompanyName)
                        @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control k-textbox", placeholder = "Company Name", Readonly=true })
                        @Html.ValidationMessageFor(m => m.CompanyName)
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-6 col-md-12 col-sm-12 text-center">
                        <div  class="mx-0">Tanda Tangan</div> 
                        @if (!string.IsNullOrEmpty(Model.Signature))
                       {
                            <img src="@Model.Signature" width="100%" height="400" alt="Signature Image">
                       }else{
                            <img src="~/Image/default.png" width="100%" height="400" alt="Signature Image">
                            <a class="btn btn-sm btn-warning" id="CreateSignature">Buat Tanda Tangan</a>
                       }
                    </div>
                
                    <div class="col-lg-6 col-md-12 col-sm-12 text-center">
                        <div class="mx-0">Sertifikat</div>
                        @if (!string.IsNullOrEmpty(Model.Certificate))
                        {
                            <img src="@Model.Certificate" width="100%" height="400" alt="Certificate Image">
                            <a class="btn btn-sm btn-warning" id="UploadSertificate">Ubah</a>
                        }
                        else
                        {
                            <img src="~/Image/default.png" width="100%" height="400" alt="Certificate Image">
                            <a class="btn btn-sm btn-warning" id="UploadSertificate">Upload</a>
                        }
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-block btn-success">
                            <span class="fa fa-save" aria-hidden="true"></span>  Submit
                        </button>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>
