﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.Master.User.AccountInfoUserViewModel

<div class="row">
    <div class="col-md-12">
        
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmActivation", name = "frmActivation" }))
        {
            <div class="form-create-edit">
                @Html.HiddenFor(m => m.NIK)

                <div class="form-group row">
                    <div class="col-lg-8 col-md-12 col-sm-12 mx-auto">
                        <a id="send-email" class="btn btn-primary btn-sm" onclick="resendCode()">Send Email</a>
                        <small class="d-block">Click button send to get code</small>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-8 col-md-12 col-sm-12 mx-auto">
                        @Html.TextBox("code-activation","", new { @class = "form-control k-textbox", placeholder = "Insert Code Here" })
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-lg-8 col-md-12 col-sm-12 mx-auto">
                        <button type="submit" id="btnSaveActivation" class="btn btn-block btn-success">
                            <span class="fa fa-save" aria-hidden="true"></span>  Submit
                        </button>
                    </div>
                </div>

            </div>

        }
    </div>
</div>
<script>
	$('#btnSaveActivation').click(function (e){
		e.preventDefault();
		if($('#code-activation').val() == ''){
			swal("Failed!", "Code Activation can't be null", "error");
		}else{
			activation();
		}
	})


    function resendCode(){
		showProgress();
		$.ajax({
			type: "GET",
			data: {
				nik : $('#NIK').val()
			},
			url: `@Url.Action("SendEmail", "Beranda")`,
			success: function (result) {
				hideProgress();
				if (result.isSucceed) {
						swal("Success!", result.Message, "success");
				}
				else {
					swal("Failed!", result.Message, "error");
				}
			},
			error: function (err) {
				swal("Something went wrong!", err.Message, "error");
			}
		});
	}

    function activation(){
		debugger;
		showProgress();
		let activationModel = $("#Form-activation").serialize();
		$.ajax({
			type: "POST",
			data: {
				nik : $('#NIK').val(),
				code : $('#code-activation').val()
			},
			url: `@Url.Action("Activation", "Beranda")`,
			success: function (result) {
				hideProgress();
				if (result.isSucceed) {
					swal("Success!", result.Message, "success");
					let enpoint = 'https://sb-api.tilaka.id/personal-webview/guide?request_id='+ result.Data.id;
					//$("iframe[name='myFrame']").attr('src',enpoint);
					//$("li[aria-controls='tabStripProfile-4']").click();
					//stepper1.to(4);

					$("#popUpFrame").data("kendoWindow").refresh({
						url: `@Url.Action("AccountLiveness", "Beranda")`,
						data: { url: enpoint}
					});

					$("#popUpFrame").data("kendoWindow").center().open();
				}
				else {
					swal("Failed!", result.Message, "error");
					//showValidationMessage(result.Data);
				}
			},
			error: function (err) {
				swal("Something went wrong!", err.Message, "error");
			}
		});
	}
</script>
