﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.Master.User.ChangePasswordUserViewModel

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmChangePassword", name = "frmChangePassword" }))
        {
            <div class="form-create-edit">

                <div class="form-group row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                        <div class="img-profile-container">
                        @if (Model.PhotoFile != null)
                        {
                            <img class="img-profile rounde-circle" src="@Model.PhotoFile" width="200px" />
                        }else
                        {
                            <img class="img-profile rounde-circle" src="~/Image/default.png" width="200px" />
                        }
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        @Html.LabelFor(l => l.CurrentPassword)
                        @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control k-textbox", placeholder = "Current Password" })
                        @Html.ValidationMessageFor(m => m.CurrentPassword)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        @Html.LabelFor(l => l.NewPassword)
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control k-textbox", placeholder = "New Password" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        @Html.LabelFor(l => l.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control k-textbox", placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-block btn-success">
                            <span class="fa fa-save" aria-hidden="true"></span>  Submit
                        </button>
                    </div>
                </div>

            </div>
        }
    </div>
</div>