﻿@using Kendo.Mvc.UI

<div class="row">
    <div class="col-md-12">
        <iframe src="@ViewBag.uuid" name="myFrame" class="col-12 border-0" height="600px" allow="camera;"></iframe>
    </div>
</div>
<script>
    
</script>
