﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.Master.User.MasterUserViewModel


@{
    Layout = "~/Views/Shared/_LayoutCreateSign.cshtml";
    ViewData["title"] = "Create Sign";
}

<div>
<canvas id="canvas" style="border:1px solid"></canvas>
<div width="500" class="text-center">
<a class="btn btn-sm btn-danger clear">clear</a>
<a class="btn btn-sm btn-success save">save</a>
<a class="btn btn-sm btn-info" asp-action="Index" asp-controller="Profile">Back</a>
</div>
</div>
       
@section Scripts{

<script type="text/javascript">

let canvas = document.getElementById("canvas")
canvas.height = 500
canvas.width = window.innerWidth
let ctx = canvas.getContext("2d")
ctx.lineWidth = 5

let prevX = null
let prevY = null

let draw = false

let clrs = document.querySelectorAll(".clr")
clrs = Array.from(clrs)
clrs.forEach(clr => {
    clr.addEventListener("click", () => {
        ctx.strokeStyle = clr.dataset.clr
    })
})

let clearBtn = document.querySelector(".clear")
clearBtn.addEventListener("click", () => {
    ctx.clearRect(0, 0, canvas.width, canvas.height)
})

let saveBtn = document.querySelector(".save")
saveBtn.addEventListener("click", () => {
    let data = canvas.toDataURL("image/png")

    $.ajax({
        type: "POST",
        data: {sign : data},
        url: "@Url.Action("CreateSign")",
        success: function (result) {
            if (result.isSucceed) {
                window.location.href = "@Url.Action("Index","Profile")";
                swal("success!", result.Message, "success");
            }
            else {
                swal("Failed!", result.Message, "error");
            }
        },
        error: function (err) {
            swal("Something went wrong!", err.Message, "error");
        }
    });
})

window.addEventListener("mousedown", (e) => draw = true)
window.addEventListener("mouseup", (e) => draw = false)

window.addEventListener("mousemove", function(e){
    if(prevX == null || prevY == null || !draw){
        prevX = e.clientX
        prevY = e.clientY
        return
    }

    let mouseX = e.clientX
    let mouseY = e.clientY
    ctx.beginPath()
    ctx.moveTo(prevX, prevY)
    ctx.lineTo(mouseX, mouseY)
    ctx.stroke()

    prevX = e.clientX
    prevY = e.clientY
})
</script>
}