﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.Master.User.MasterUserViewModel

<div class="row">
    <div class="col-md-12">
        <form method="post" id="frmUploadSertificate" name="frmUploadSertificate" enctype="multipart/form-data">
            <div class="form-create-edit">
                <div class="form-group row">
                    <div class="col-sm-12">
                        
                        <div class="text-center image-canvas">
                            @if (Model.Certificate != null)
                            {
                                <img class="sertificate-img" src="@Model.Certificate"
                                        alt="Sertificate">
                            }
                            else
                            {
                                <img class="sertificate-img" src="~/Image/default.png"
                                        alt="Sertificate">
                            }
                            <input type="file" accept="image/*" class="img-file-upload" id="SertificateFile" name="SertificateFile" />
                        </div>

                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-12">
                        <button type="submit" id="submitDocumentSign" class="btn btn-block btn-success">
                            <span class="fa fa-save" aria-hidden="true"></span>  Submit
                        </button>
                    </div>
                </div>

            </div>
        </form>

    </div>
</div>


<script type="text/javascript">

	$(function() {
		

	});//(jQuery);
    $("#frmUploadSertificate").submit(function (e) {
    e.preventDefault();
    showProgress();
    let data = new FormData();
    if ($("#SertificateFile")[0].files.length == 0) {
        swal("Failed!", "Please select the file first!", "error");
        hideProgress();
        return;
    }
    let file = $("#SertificateFile")[0].files[0];

    data.append("SertificateFile", file);

    $.ajax({
        method: "POST",
        data: data,
        url: "@Url.Action("UploadSertificate")",
        processData: false,
        contentType:false,
        success: function (result) {
            hideProgress();
            if (result.isSucceed) {
                swal("success!", result.Message, "success");
                $("#popUpSertificate").data("kendoWindow").close();
                window.location.reload();
                //hideValidateMessage();
            }
            else {
                swal("Failed!", result.Message, "error");
                $("#popUpSertificate").data("kendoWindow").close();
                //showValidateMessage(result.Data);
            }
        },
        error: function (err) {
            swal("Something went wrong!", err.Message, "error");
        }
    });
});

    $('.img-file-upload').change(function () {
        const reader = new FileReader();
        reader.addEventListener("load", () => {
            const uploaded_image = reader.result;
            $('.sertificate-img')[0].src = uploaded_image;
            $('.sertificate-img').attr("height", 400);
            $('.sertificate-img').attr("width", 400);
        });
        reader.readAsDataURL($(this)[0].files[0]);
    });
</script>

