﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.Master.Document.MasterDocumentViewModel
@{
	ViewData["Title"] = "Detail Document";
}

<style>
	#drag {
		position: absolute;
		z-index: 9;
	}
	/*#pdfcontainer{
				width: 100%;
				height: 500px;
			}*/
</style>


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">@Model.Title</h1>
	<input type="hidden" id="IdDoc" asp-for="@Model.ID" />
</div>

<div class="row">
	<div class="col-sm-12 col-md-12">
		@(Html.Kendo().TabStrip()
		.Name("tabstrip")
		.Animation(animation =>
		animation.Open(effect => effect.Fade(FadeDirection.In))
		)
		.Items(tabstrip =>
		{
		tabstrip.Add().Text("Document")
		.Selected(true)
		.Content(
			@<text>
				@if (Model.DocumentParticipant.Any(x => x.UserID == ViewBag.UserID))
				{
					@if (Model.DocumentParticipant.Any(x => x.UserID == ViewBag.UserID && x.Status == "Sukses"))
					{
						<a class="btn btn-info btn-sm float-right mb-2 mr-2" asp-action="GetDocument" asp-route-request_id="@Model.RequestID">Download Signed Document</a>
					}else{
						<a class="btn btn-info btn-sm float-right mb-2 mr-2" id="RequestSign" data-idDoc="@Model.ID">Sign</a>
					}
				} 
				else if (Model.Status == "Complete")
				{
					<a class="btn btn-info btn-sm float-right mb-2 mr-2" asp-action="GetDocument" asp-route-request_id="@Model.RequestID">Download Signed Document</a>
				}
				@*else{
			<div><button id="drag" draggable="true">Drag to sign</button></div>
			<div id="pdfcontainer">

			<embed id="pdfID" type="text/html" height="600" src="@Model.DocumentFile" class="col-12" />

			</div>
			}*@

			//=======
				@*<a class="btn btn-info btn-sm float-right mb-2 mr-2" id="RequestSign" data-idDoc="@Model.ID">Sign</a>
			}
			}*@
						<div class="d-flex justify-content-center">
							<iframe id="pdfFrame" style="width:100%;height:1000px;"></iframe>
						</div>
				@*<div>
					<embed id="pdfID" type="text/html" height="600" src="@Model.DocumentFile#toolbar=0&navpanes=0&scrollbar=0" class="col-12" />
				</div>*@

			</text>);

		tabstrip.Add().Text("Information")
		.Content(
			@<text>
				<div>
					<h2>Detail</h2>
					<section class="d-flex justify-content-between mb-2">
						<div>
							<strong>Title</strong>
							<p>@Model.Title</p>
						</div>
						<div>
							<strong>Uploaded Date</strong>
							<p>@(Model.CreatedDate != null ? Model.CreatedDate.Value.ToString("dd-MM-yyyy"): "")</p>
						</div>
					</section>
					<hr>
					<section class="mb-2">
						<strong>Owner</strong>
						<div class="d-flex align-items-center mt-2">
							<img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Owner" width="50" height="50" class="rounded-circle mr-2">
							<span>@Model.CreatedBy</span>
						</div>
					</section>
					<hr>
					<section>
						<table class="table">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Participant</th>
									<th scope="col">Activity</th>
									<th scope="col">Time Stamp</th>
								</tr>
							</thead>
							<tbody>
								@{
							int i = 1;
							foreach (var item in Model.DocumentHistory)
							{
									<tr>
										<th scope="row">@i</th>
										<td>@item.Username</td>
										<td>@item.Activity</td>
										<td>@item.TimeStamp.ToString("dd-MM-yyyy hh:mm")</td>
									</tr>
							i++;
							}
								}
							</tbody>
						</table>
					</section>
				</div>
			</text>);

		tabstrip.Add().Text("Participant")
		.Content(
			@<text>
				<div>
					<h2>Participant</h2>
					<section>
						<table class="table">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Participant</th>
									<th scope="col">Status</th>
									@if (ViewBag.Rolename=="Admin")
									{
										<th scope="col">Setting</th>
									}
								</tr>
							</thead>
							<tbody>

								@{
									int i = 1;
									foreach (var item in Model.DocumentParticipant)
									{
										<tr>
											<th scope="row">@i</th>
											<td>@item.Username</td>
											<td>@item.Status</td>
											<td>
												@if (ViewBag.Rolename == "Admin" && item.Status == "none")
												{
													<a class="btn btn-info btn-sm btn-config" data-idUser="@item.UserID" data-idDoc="@Model.ID">Signature Placement</a>
												}
											</td>
										</tr>
									i++;
									}
								}
							</tbody>
						</table>
					</section>
				</div>
			</text>);

		tabstrip.Add().Text("Discussion")
		.Content(
			@<text>
				<div>
					<h2>Discussion</h2>
					<hr class="my-3">
					<section class="px-5 py-2 rounded border border-dark">
						<div class="direct-chat-primary">
							<div class="direct-chat-messages" id="tab-discussion">
								@foreach (var item in Model.DocumentDiscussion.OrderBy(m => m.TimeStamp))
								{
								<div class="direct-chat-msg @(item.UserID == ViewBag.UserID ? "right" : "")">
									<div class="direct-chat-info clearfix">
													<span class="direct-chat-name @(item.UserID == ViewBag.UserID ? "pull-right" : "pull-left")">@item.FullName</span>
										<span class="direct-chat-timestamp @(item.UserID == ViewBag.UserID ? "pull-left" : "pull-right")">@item.TimeStamp.ToString("dd/MM/yyyy, hh.mm.ss tt")</span>
									</div>
									<img class="direct-chat-img" src="@item.Poto" alt="message user image">
									<div class="direct-chat-text">
										@item.Message
									</div>
								</div>
								}
							</div>
						</div>
						<div class="input-group my-3">
							<input type="text" class="form-control" id="text-send-message" placeholder="Type a message here">
							<div class="input-group-append">
								<button class="btn btn-primary" id="btn-send-message" type="button">Send</button>
							</div>
						</div>
					</section>
				</div>
			</text>);

		})
		)
	</div>
</div>

@Html.Hidden("state", "Add", new {id = "state"})

<div id="popUp"></div>
<div id="popUpFrame"></div>

@section Scripts{
	<script type="text/javascript">

		$(function() {
			var windowOptions = {
				animation: false,
				modal: true,
				width: 800,
				height: 500,
				visible: false,
				title: 'Placement Participant Signature'
			};
			var windowFrame = {
				animation: false,
				modal: true,
				width: 500,
				height: 800,
				visible: false,
				title: 'Sign Document'
			};

			$("#popUp").kendoWindow(windowOptions);
			$("#popUpFrame").kendoWindow(windowFrame);

			var tabstrip = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
			tabstrip.select(0);


			$("#btn-send-message").click(function(e) {
				e.preventDefault();
				let idDoc = $("#IdDoc").val();
				let text = $("#text-send-message").val();
				$("#text-send-message").val("");
				$.ajax({
					type: "POST",
					data: { DocumentID: idDoc, Message: text },
					url: "@Url.Action("AddDiscussion", "DocumentDiscussion")",
					success: function(result) {
						hideProgress();
						if (result.isSucceed) {
							$("#tab-discussion").html("");
							let row = "";
							for (let i = 0; i < result.Data.Value.length; i++) {
								let justify = "";
								let nmb = "pull-left";
								let tmp = "pull-right";
								let dateFormat = new Date(result.Data.Value[i].TimeStamp).toLocaleString('id-ID', {year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', hour12: true, minute:'2-digit', second:'2-digit'});
								if (result.Data.Value[i].UserID == @ViewBag.UserID) {
									justify = "right";
									nmb = "pull-right";
									tmp = "pull-left";
								}
								row += `
											<div class="direct-chat-msg ${justify}">
												<div class="direct-chat-info clearfix">
													<span class="direct-chat-name ${nmb}">${result.Data.Value[i].FullName}</span>
													<span class="direct-chat-timestamp ${tmp}">${dateFormat}</span>
												</div>
												<img class="direct-chat-img" src="${result.Data.Value[i].Poto}" alt="message user image">
												<div class="direct-chat-text">
													${result.Data.Value[i].Message}
												</div>
											</div>`;

							}

							$("#tab-discussion").html(row);


						}
						else {
							swal("Failed!", result.Message, "error");
						}
					},
					error: function(err) {
						swal("Something went wrong!", err.Message, "error");
					}
				});
			});

			$("#submitDocumentSign").click(function(e) {
				e.preventDefault();
				showProgress();
				let model = $("#frmSignConfig").serialize();
				$.ajax({
					type: "POST",
					data: model,
					url: "@Url.Action("AddDocumentSign")",
					success: function(result) {
						hideProgress();
						if (result.isSucceed) {
							$("#gridSignConfig").data("kendoGrid").dataSource.read();
							$("#gridSignConfig").data("kendoGrid").refresh();
							swal("success!", result.Message, "success");
							//hideValidateMessage();
						}
						else {
							swal("Failed!", result.Message, "error");
							//showValidateMessage(result.Data);
						}
					},
					error: function(err) {
						swal("Something went wrong!", err.Message, "error");
					}
				});
			});

			$("#RequestSign").click(function(e) {
				e.preventDefault();
				showProgress();
				var idDoc = this.getAttribute("data-idDoc");
				$.ajax({
					type: "POST",
					data: { idDoc: idDoc },
					url: "@Url.Action("RequestSign")",
					success: function(result) {
						hideProgress();
						if (result.isSucceed) {
							var link = result.Data;

							$("#popUpFrame").data("kendoWindow").refresh({
								url: "@Url.Action("SignDocument")",
								data: { url: link }
							});

							$("#popUpFrame").data("kendoWindow").center().open();
							$(".k-window-action").hide();
						}
						else {
							swal("Failed", result.Message, "warning");
						}
					},
					error: function(err) {
						hideProgress();
						swal("Something went wrong!", err.Message, "error");
					}
				});
			})

			//let sidebar = document.querySelector(".sidebar");
			//let topbar = document.querySelector(".topbar");

			//document.getElementById("pdfcontainer").addEventListener('drop', (ev) => {
			//	ev.preventDefault();
			//	let x = ev.clientX;
			//	let y = ev.clientY;
			//	console.log('drop');
			//	console.log(x, y);
			//	var data = ev.dataTransfer.getData("text");
			//	document.getElementById(data).style.left = (x - sidebar.clientWidth - 24) + 'px';
			//	document.getElementById(data).style.top = (y - topbar.clientHeight - 48 - 30) + 'px';
			//	ev.target.appendChild(document.getElementById(data));
			//});

			//document.getElementById("pdfcontainer").addEventListener('dragover', (ev) => {
			//	ev.preventDefault();
			//	console.log('dragover');
			//});

			//document.getElementById("pdfcontainer").addEventListener('click', (ev) => {
			//	let x = ev.clientX;
			//	let y = ev.clientY;
			//	console.log('click');
			//	console.log(x, y);
			//});

			//document.getElementById("drag").addEventListener('dragstart', (ev) => {
			//	ev.dataTransfer.setData("text", ev.target.id);
			//	console.log('dragstart');
			//});

			// drag n drop
			//function allowDrop(ev) {
			//	ev.preventDefault();
			//}

			//function drag(ev) {
			//	ev.dataTransfer.setData("text", ev.target.id);
			//}

			//function drop(ev) {
			//	ev.preventDefault();
			//	let x = ev.clientX;
			//	let y = ev.clientY;
			//	console.log(x, y);
			//	var data = ev.dataTransfer.getData("text");
			//	document.getElementById(data).style.left = x + 'px';
			//	document.getElementById(data).style.top = y + 'px';
			//	ev.target.appendChild(document.getElementById(data));
			//}

		});

		function Delete(e) {
			e.preventDefault();
			var dataRow = this.dataItem($(e.currentTarget).closest("tr"));
			$.ajax({
				type: "POST",
				data: { id: dataRow.ID },
				url: "@Url.Action("DeleteDocumentSign")",
				success: function(result) {
					hideProgress();
					if (result.isSucceed) {
						$("#gridSignConfig").data("kendoGrid").dataSource.read();
						$("#gridSignConfig").data("kendoGrid").refresh();
						$("#submitDocumentSign").toggle();
						$("#SignaturePlacementSimulation").toggle();
						swal("success!", result.Message, "success");
					} else {
						swal("Something went wrong!", result.Message, "error");
					}

				},
				error: function(err) {
					hideProgress();
					swal("Something went wrong!", err.Message, "error");
				}
			});
		}

		function Edit(e) {
			e.preventDefault();
			var dataRow = this.dataItem($(e.currentTarget).closest("tr"));
			$("#ID").val(dataRow.ID);
			$("#Width").val(dataRow.Width);
			$("#Height").val(dataRow.Height);
			$("#CoorX").val(dataRow.CoorX);
			$("#CoorY").val(dataRow.CoorY);
			$("#PageNumber").val(dataRow.PageNumber);

			$("#state").val("Edit");
			$("#gridSignConfig").data("kendoGrid").refresh();

			$("#submitDocumentSign").show();
			$("#SignaturePlacementSimulation").show();
		}

		function Cancel(e) {
			e.preventDefault();
			$("#frmSignConfig")[0].reset();
			$("#ID").val("");
			$("#state").val("Add");
			$("#gridSignConfig").data("kendoGrid").refresh();
			$("#submitDocumentSign").hide();
			$("#SignaturePlacementSimulation").hide();
		}

		function HideOnAdd() {
			return document.getElementById("state").value === "Edit";
		}

		function HideOnEdit() {
			return document.getElementById("state").value === "Add";
		}

		function AfterLoad() {
			$("td a").removeClass("k-button");
		};

		var btnConfigAll = document.querySelectorAll(".btn-config");
		btnConfigAll.forEach(function(btnConfig) {
			btnConfig.addEventListener("click", function(e) {
				e.preventDefault();
				var idUser = btnConfig.getAttribute("data-idUser");
				var idDoc = btnConfig.getAttribute("data-idDoc");
				$("#popUp").data("kendoWindow").refresh({
					url: "@Url.Action("SignConfig")",
					data: { idUser: idUser, idDoc: idDoc }
				});

				$("#popUp").data("kendoWindow").center().open();
			});
		});

		var pdfData = base64ToUint8Array("@Html.Raw(Model.DocumentFile)");
		function base64ToUint8Array(base64) {
			var raw = atob(base64);
			var uint8Array = new Uint8Array(raw.length);
			for (var i = 0; i < raw.length; i++) {
				uint8Array[i] = raw.charCodeAt(i);
			}
			return uint8Array;
		}

		var pdfViewerFrame = document.getElementById("pdfFrame");
		pdfViewerFrame.onload = function () {
			pdfViewerFrame.contentWindow.PDFViewerApplication.open(pdfData);
		}
		pdfViewerFrame.setAttribute("src", "@Url.Content("~/lib/pdfjs/web/viewer.html")" + "?file=");
	</script>
}

