﻿@using Kendo.Mvc.UI

@{
	ViewData["Title"] = "Document";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
</div>
       
    <div class="row">
        <div class="col-sm-12 col-md-12">
        @if (ViewBag.Rolename=="Admin")
        {
            <a href=@Url.Action("Upload") class="btn btn-success" id="btnUpload" title="Upload"><span class="fa fa-plus-circle"></span> Upload Document</a>
            <br />
            <br />
        }

        @if (ViewBag.Status == "LinkedAccount" || ViewBag.Rolename == "Admin")
        {
            @(Html.Kendo().Grid<DigitalSign.ViewModels.Master.Document.MasterDocumentViewModel>()
                .Name("grid")
                .Scrollable(s => s.Height("auto"))
                .Columns(columns =>
                {

                    columns.Bound(p => p.Title).Width(200);
                    columns.Bound(p => p.CreatedDate).Format("{0:dd-MM-yyyy}").Width(100);
                    columns.Bound(p => p.CreatedBy).Width(100);
                    columns.Bound(p => p.Status).Width(100);
                    @*columns.Command(command =>
                    {
                        command.Custom("Open").Click("Index.Open").Text(" Open Document").HtmlAttributes(new {@class="fa fa-folder-open btn btn-primary btn-sm mr-1"});
                        command.Custom("Send").Click("Index.Send").Text(" Send").HtmlAttributes(new { @class = "fa fa-paper-plane btn btn-primary btn-sm" }).Visible("CheckRole");
                    }).Width(200).Title("Action").HtmlAttributes(new { style = "text-align: center" });*@
                    columns.Bound("").ClientTemplate(
                    @"<button class='btn btn-sm btn-info open-action mr-1' data-id='#=ID#' onclick='Index.Open(event)' title='Open Document'><i class='fa fa-folder-open'></i> Open Document</button>" +
                    @"#if(Status == null || Status == ''){#<button class='btn btn-sm btn-primary send-action' data-id='#=ID#' onclick='Index.Send(event)' title='Send'><i class='fa fa-paper-plane'></i> Send</button>#}#"
                    ).Title("Action").HtmlAttributes(new { style = "text-align: center" }).Width(200);
                })                          
                .Pageable()
                .Sortable()
                .Filterable()

                .Resizable(re => re.Columns(true))
                .Events(x => x.DataBound("AfterLoad"))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(10)
                            .Read(read => read.Action("List", "Document", new { keyword = ViewBag.Keyword}))
                )
            )
        }else{
            <div class="alert alert-danger" role="alert">
				<h4 class="alert-heading">Peringatan !!!</h4>
				<p>Anda Belum Melakukan "Penautan Akun"</p>
			</div>	
        }
            
      </div>
</div>
<div id="popUp"></div>

@section Scripts {
<script type="text/javascript">

    $(function () {
        var windowOptions = {
            animation: false,
            modal: true,
            width: 1000,
            height: 500,
            visible: false,
            title: 'Upload Document'
        };

        $("#btnUpload").click(Index.Add);
        $("#popUp").kendoWindow(windowOptions);
        $("#frm").kendoValidator().data("kendoValidator");
    });

    function AfterLoad() {
        $("td a").removeClass("k-button");
    };

    var Index = (function ($) {
        return {
            Add: function (e) {
                e.preventDefault();
                $("#popUp").data("kendoWindow").refresh({
                    url: "@Url.Action("Upload")"
                });

                $("#state").val("add");
                $("#popUp").data("kendoWindow").center().open();
            },
            Close: function (e) {
                e.preventDefault();
                $("#popUp").data("kendoWindow").close();
            },
            Open: function (e){
                e.preventDefault();
                //var dataRow = this.dataItem($(e.currentTarget).closest("tr"));
                var id = e.currentTarget.getAttribute("data-id");
                
                let Sign = "@ViewBag.Signature";
                let Role = "@ViewBag.Rolename";
                if(Sign != "" || Role == "Admin"){
                    window.location = `/Document/Detail?id=${id}`;
                    //window.location = `/Document/Detail?id=${dataRow.ID}`;
                }else{
                    swal({
                    title: "Peringatan !!!",
                    text: "Anda Belum Membuat Tanda Tangan! Silahkan Buat Tanda Tangan Di Menu Profile. . .",
                    type: "warning",
                    showCancelButton: false,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Lanjut Ke Profile",
                    closeOnConfirm: false,
                    },

                        function (isConfirm) {
                        if (isConfirm) {
                            window.location = `/Profile/Index`;
                        }
                        else {
                            swal("Cancelled", "", "error");
                        }
                    }
                    );
                }

            },
            Send: function (e) {
                e.preventDefault();
                //var dataRow = this.dataItem($(e.currentTarget).closest("tr"));
                    var id = e.currentTarget.getAttribute("data-id");
                
                $.ajax({
			        type: "GET",
			        data: {
				        documentId : id
			        },
			        url: `@Url.Action("SendDocument", "Document")`,
			        success: function (result) {
				        hideProgress();
				        if (result.isSucceed) {
                            $("#grid").data("kendoGrid").dataSource.read();
                            $("#grid").data("kendoGrid").refresh();
					        swal("Success!", result.Message, "success");
				        }
				        else {
					        swal("Failed!", result.Message, "error");
				        }
			        },
			        error: function (err) {
				        swal("Something went wrong!", err.Message, "error");
			        }
		        });

            },
            Stamp: function (e) {
                e.preventDefault();
                var dataRow = this.dataItem($(e.currentTarget).closest("tr"));
                window.location = `/Document/MateraiPlacement?docId=${dataRow.ID}`;
            }
        }
    })(jQuery);

    function CheckRole(dataItem) {
        var roleName = '@ViewBag.Rolename';
        if (roleName == 'Admin' && (dataItem.Status == null || dataItem.Status == '')) {
            return true;
        } else {
            return false;
        }
    }

    function showValidateMessage(validations) {
        let validate = "";
        for (var validation of validations) {

            let propertyName = validation.PropertyName;
            let errorMessage = validation.ErrorMessage;

            validate += `${errorMessage} \n`;
            //$(`span[data-valmsg-for=${propertyName}]`).text(errorMessage).css("color", "red").css("display","block");
            //console.log(errorMessage + " " + propertyName);
        }
        return validate;
    }
</script>
}

