﻿@{
	ViewData["title"] = "Sign Document";
}
<div class="bg-white">
	@if(ViewBag.url != ""){
		<iframe src="@ViewBag.url" name="myFrame" class="col-12 border-0" height="700px" allow="camera;"></iframe>
	}
</div>
