﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.Master.Document.DocumentSignViewModel

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmSignConfig", name = "frmSignConfig" }))
        {
            <div class="form-create-edit">
                @Html.Hidden("UserID", ViewBag.idUser, new{id="UserID"})
                @Html.Hidden("DocumentID", ViewBag.idDoc, new {id="DocID"})
                @Html.HiddenFor(m => m.ID)

                <div class="form-group row">
                    <div class="col-md-6 col-sm-12">
                        @Html.LabelFor(l => l.Width)
                        @Html.TextBoxFor(m => m.Width, new { @class = "form-control k-textbox", placeholder = "Width", @Type="number", @readonly = true })
                    </div>
                    <div class="col-md-6 col-sm-12">
                        @Html.LabelFor(l => l.Height)
                        @Html.TextBoxFor(m => m.Height, new { @class = "form-control k-textbox", placeholder = "Height", @Type="number", @readonly = true })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6 col-sm-12">
                        @Html.LabelFor(l => l.CoorX, "Coordinate X")
                        @Html.TextBoxFor(m => m.CoorX, new { @class = "form-control k-textbox", placeholder = "Coordinate X", @Type="number", @readonly = true })
                    </div>
                    <div class="col-md-6 col-sm-12">
                        @Html.LabelFor(l => l.CoorY, "Coordinate Y")
                        @Html.TextBoxFor(m => m.CoorY, new { @class = "form-control k-textbox", placeholder = "Coordinate Y", @Type="number", @readonly = true })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        @Html.LabelFor(l => l.PageNumber, "Page Number")
                        @Html.TextBoxFor(m => m.PageNumber, new { @class = "form-control k-textbox", placeholder = "Page Number", @Type="number", @readonly = true })
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <button type="submit" id="submitDocumentSign" class="btn btn-block btn-success">
                            <span class="fa fa-save" aria-hidden="true"></span>  Submit
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" id="SignaturePlacementSimulation" class="btn btn-block btn-info">
                            <span class="fa fa-map-marker-alt" aria-hidden="true"></span>  Signature Placement
                        </button>
                    </div>
                </div>

            </div>

        }

    </div>
</div>

<div class="row mt-2">
    <div class="col-md-12">
        @(Html.Kendo().Grid<DigitalSign.ViewModels.Master.Document.DocumentSignViewModel>()
            .Name("gridSignConfig")
            .Scrollable(s => s.Height("auto"))
            .Columns(columns =>
            {
                columns.Command(command =>
                {
                    command.Custom("Delete").Click("Delete").Text("Delete").HtmlAttributes(new {@class="btn btn-danger btn-sm mr-1"}).Visible("HideOnEdit");
                    command.Custom("Edit").Click("Edit").Text("Edit").HtmlAttributes(new {@class="btn btn-warning btn-sm mr-1"}).Visible("HideOnEdit");
                    command.Custom("Cancel").Click("Cancel").Text("Cancel").HtmlAttributes(new {@class="btn btn-info btn-sm"}).Visible("HideOnAdd");
                }).Width(100).Title("Action");
                columns.Bound(p => p.Width).Width(100);
                columns.Bound(p => p.Height).Width(100);
                columns.Bound(p => p.CoorX).Width(100);
                columns.Bound(p => p.CoorY).Width(100);
                columns.Bound(p => p.PageNumber).Width(100);
            })                          
            .Pageable()
            @*.Sortable()*@
            @*.Filterable()*@
            .Events(x => x.DataBound("AfterLoad"))
            .Resizable(re => re.Columns(true))
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(10)
                        .Read(read => read.Action("ListSignConfig", "Document", new {DocId = ViewBag.idDoc, UserId = ViewBag.idUser}))
            )
        )
  </div>
</div>

<div id="PopUpSignaturePlacement"></div>

<script type="text/javascript">
    
$(function() { 

    var windowSignaturePlacement = {
		animation: false,
		modal: true,
		width: 800,
		height: 500,
		visible: false,
		title: 'Signature Placement'
	};

    $("#PopUpSignaturePlacement").kendoWindow(windowSignaturePlacement);
    $("#SignaturePlacementSimulation").click(function(e) {
        e.preventDefault();
        $("#frmSignConfig")[0].reset();
        $("#PopUpSignaturePlacement").data("kendoWindow").refresh();
        $("#PopUpSignaturePlacement").data("kendoWindow").refresh({
			url: "@Url.Action("SignaturePlacement")",
			data: { documentId : $("#DocID").val() }
		});
        $("#PopUpSignaturePlacement").data("kendoWindow").center().open();
    })


    $("#gridSignConfig").data("kendoGrid").dataSource.fetch(function() {
        if ($("#gridSignConfig").data("kendoGrid").dataSource.total() > 0) { 
            $("#submitDocumentSign").hide();
            $("#SignaturePlacementSimulation").hide();
        }else{
            $("#submitDocumentSign").show();
            $("#SignaturePlacementSimulation").show();
        }
    });

    $("#submitDocumentSign").click(function (e) {
		e.preventDefault();
		showProgress();
		let model = $("#frmSignConfig").serialize();
        let state = $("#state").val();
		$.ajax({
			type: "POST",
			data: model,
			url: "@Url.Action("AddDocumentSign", "Document")",
			success: function (result) {
				hideProgress();
				if (result.isSucceed) {
					$("#gridSignConfig").data("kendoGrid").dataSource.read();
					$("#gridSignConfig").data("kendoGrid").refresh();
                    $("#submitDocumentSign").toggle();
                    $("#SignaturePlacementSimulation").toggle();
                    $("#frmSignConfig")[0].reset();

                    if (state == "Edit") {
                        $("#state").val("Add");
                    }

					swal("success!", result.Message, "success");
					//hideValidateMessage();
				}
				else {
					swal("Failed!", result.Message, "error");
					//showValidateMessage(result.Data);
				}
			},
			error: function (err) {
				swal("Something went wrong!", err.Message, "error");
			}
		});
	});
})

 
</script>