﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.Master.Document.MasterDocumentViewModel

<div class="row">
	<div class="col-md-12">

		@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frm", name = "frm" }))
		{
			@Html.HiddenFor(m => m.ID)
			<div class="form-group row">
				<label class="col-3">Title</label>
				<div class="col-9">
					@Html.TextBoxFor(m => m.Title, new {@class="form-control form-control-sm", maxlength = "50" })
				</div>
			</div>
			<div class="form-group row">
				<label class="col-3">Document File</label>
				<div class="col-9">
					<input type="file" class="form-control-file" id="DocumentFile" accept=".pdf">
					<small id="docHelp" class="form-text text-muted">(Pdf format up to 30 MB)</small>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-3">Select Document</label>
				<div class="col-9">
					<div id="ListDocument" class="form-control form-control-sm" />
				</div>
			</div>

			<div class="form-group row mb-2">
				<label class="col-3">Category</label>

				<div class="col-6">
					@(Html.Kendo().DropDownListFor(model => model.Category)
						.HtmlAttributes(new { style = "width:100%", @required = true, @class = "form-control form-control-sm" })
						.OptionLabel("Select Document Type...")
						.DataTextField("CategoryName")
						.DataValueField("ID")
						.DataSource(source => source
						.Custom()
						.ServerFiltering(true)
						.Transport(transport => transport
						.Read(read =>
						{
							read.Action("ListDocumentCategory", "Document");
						}))
						))
				</div>
			</div>

			<div class="form-group row mb-2">
				<label class="col-3">Participant</label>

				<div class="col-6">
					@Html.DropDownList("ListUser", new SelectList(Model.ListIdUser, "Value", "Text"), htmlAttributes:new { @class = "form-control form-control-sm", id = "ListUser"})
				</div>
				<div class="col-3">
					<button id="add-participant" class="btn btn-primary btn-block btn-sm"> Add Participant</button>
				</div>
			</div>

			<table class="table table-sm table-striped border-top">
				<thead>
					<tr>
						<th>Participant Name</th>
						<th>Document Name</th>
						<th>Sequence</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody id="body-participant">
				</tbody>
			</table>
			<br />

			<div class="row">
				<div class="col-md-5">
					<button type="submit" id="btnSave" class="btn btn-success">
						<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>  Save
					</button>
					<a href="cancel" id="btnCancel" class="btn btn-danger">
						<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>  Cancel
					</a>
				</div>
			</div>
		}

	</div>
</div>

<script type="text/javascript">

	$(function() {
		const data = [];

		$("#DocumentFile").change(function() {
			data.splice(0, data.length);
			generate(data);
			var datasourceDocument = $("#ListDocument").data("kendoDropDownList").dataSource;
			datasourceDocument.data([]);
			var docfile = $('#DocumentFile')[0].files;
			for (var i = 0; i < docfile.length; i++) {
				datasourceDocument.add({ Value: i, Text: docfile[i].name });
			}

			$("#ListDocument").kendoDropDownList({
				optionLabel: "Select Document",
				dataSource: datasourceDocument,
				dataTextField: "Text",
				dataValueField: "Value",
			}).data("kendoDropDownList").select(0);
		})

		$("#ListDocument").css('border', 'none');
		$("#ListDocument").kendoDropDownList({
			optionLabel: "Select Document",
		}).data("kendoDropDownList").select(0);

		$("#btnCancel").click(Index.Close);


		$('#add-participant').click((e) => {
			e.preventDefault();
			let valid = true;
			const id = $('#ListUser').val();
			const name = $('#ListUser').data("kendoDropDownList").text().split(" - ")[0];
			const idDoc = $('#ListDocument').val();
			const docName = $('#ListDocument').data("kendoDropDownList").text();

			if (docName != "Select Document" && name != "Select Participant") {
				data.forEach(function(e) {
					if (id == e.UserId && idDoc == e.DocumentId) {
						valid = false;
						return;
					}
				});

				if (valid == false) {
					swal("Error", "Can't insert same participant in one document", "error");
				} else {
					pushData(data, id, idDoc, docName, name);
				}
			} else {
				swal("Error", "Please, select document/participant!", "error");
			}


		});

		$("#btnSave").click(function(e) {
			e.preventDefault();
			submit(data);
		});
		$("#ListUser").css('border', 'none');
		$("#ListUser").kendoDropDownList({
			optionLabel: "Select Participant",
			filter: "contains"
		}).data("kendoDropDownList").select(0);

	});//(jQuery);

	function submit(data) {
		showProgress();

		var fdata = new FormData();
		const title = $('#Title').val();
		var docfile = $('#DocumentFile')[0].files;
		var category = $("#Category").data("kendoDropDownList").value();
		var categoryName = $("#Category").data("kendoDropDownList").text();
		var listParticipant = [];

		if (docfile[0].size > 30000000){
			hideProgress();
			swal("Failed!", "Max file size is 30MB", "error");
			return;
		}

		data.forEach(function(e) {
			listParticipant.push({
				"userID": e.UserId,
				"documentID": e.DocumentId,
				"sequence": e.Sequence
			})
		})
		let listPart = JSON.stringify(listParticipant);

		fdata.append("title", title);

		for (let i = 0; i < docfile.length; i++) {
			fdata.append("documentFileNew", docfile[i]);
		}

		fdata.append("listParticipant", listPart);
		fdata.append("Category", category);
		fdata.append("CategoryName", categoryName);

		$.ajax({
			url: `@Url.Action("UploadFile", "Document")`,
			method: "POST",
			data: fdata,
			dataType: "json",
			enctype: 'multipart/form-data',
			processData: false,
			contentType: false,
			success: function(result) {
				hideProgress();
				console.log(result);
				if (result.isSucceed) {
					if (result.Data == null) {
						swal("Success!", result.Message, "success");
						$('.confirm').click(() => { location.reload() });
						setTimeout(function() {
							location.reload();
						}, 4000);
					} else {
						swal("Failed!", result.Message, "error");
					}
				}
				else {
					const validate = showValidateMessage(result.Data);
					swal("Failed!", validate, "error");
				}
			},
			error: function(err) {
				hideProgress();
				sweetAlert(err.Message, "Something went wrong!", "error");
			}
		});
	}

	function pushData(data, id, idDoc, docName, name) {
		let seq = 1;
		data.forEach((e) => {
			if (e.DocumentId == idDoc) {
				seq++;
			}
		});

		data.push({
			UserId: id,
			DocumentId: idDoc,
			DocumentName: docName,
			Name: name,
			Sequence: seq
		});

		generate(data);
	}

	function removeData(data, id, idDoc) {
		let index = 0;
		let seq = 0;
		data.forEach((e) => {
			if (e.UserId == id && e.DocumentId == idDoc) {
				data.splice(index, 1);
				seq = e.Sequence;

				data.forEach((newdata) => {
					if (newdata.DocumentId == idDoc) {
						if (newdata.Sequence > seq) {
							newdata.Sequence--;
						}
					}
				})

				return;
			}

			index++;
		});

		generate(data);
	}

	function generate(data) {

		let parent = $('#body-participant');
		parent.empty();
		let childs = "";
		data.forEach((e) => {
			const child = `
					<tr>
						<td>${e.Name}</td>
						<td>${e.DocumentName}</td>
						<td>${e.Sequence}</td>
						<td>
							<button data-userid="${e.UserId}" data-documentid="${e.DocumentId}" class="delete-participant btn btn-danger btn-sm"> Delete</button>
						</td>
					</tr>
				`;

			parent.append(child);

			$('.delete-participant').click(function(e) {
				e.preventDefault();

				const idUser = e.target.getAttribute("data-userid");
				const idDocument = e.target.getAttribute("data-documentid");
				removeData(data, idUser, idDocument);
			})

		})

	}

</script>

