﻿@{
	ViewData["Title"] = "Verify Sign Document";
}

@*<a href="" class="btn btn-success" id="verify-sign-document">Verify Sign Document</a>*@

<script>
	window.addEventListener('DOMContentLoaded', (event) => {
		let reqId = getParameterByName('request_id');
		let tilakaName = getParameterByName('user_identifier');
		let status = getParameterByName('status');
		
		$.ajax({
			type: "GET",
			data: {
				request_id : reqId,
				tilaka_name : tilakaName,
				status : status
			},
			url: `@Url.Action("UpdateStatus", "Document")`,
			success: function (result) {
				hideProgress();
				if (result.isSucceed) {
					swal("Success!", result.Message, "success");
					setTimeout(function(){
						window.location = "../Beranda/Index";
					},2000);
				}
				else {
					swal("Failed!", result.Message, "error");
				}
			},
			error: function (err) {
				swal("Something went wrong!", err.Message, "error");
			}
		});
	});


	function getParameterByName(name, url = window.location.href) {
		name = name.replace(/[\[\]]/g, '\\$&');
		var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
			results = regex.exec(url);
		if (!results) return null;
		if (!results[2]) return '';
		return decodeURIComponent(results[2].replace(/\+/g, ' '));
	}
</script>