﻿@using Kendo.Mvc.UI
@model DigitalSign.ViewModels.Master.Document.MateraiViewModel

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmBuyMaterai", name = "frmBuyMaterai" }))
        {
            <div class="form-create-edit">
                @Html.HiddenFor(m => m.ID)
                <div class="form-group row">
                    <div class="col-md-6 col-sm-12">
                        @Html.LabelFor(l => l.Quota)
                        @(
                            Html.Kendo().NumericTextBoxFor(m => m.Quota)
                            .Min(1)
                            .Decimals(0)
                            .Format("#")
                            .Events(e => e
                            .Change("change")
                            .Spin("change")
                            )
                            .HtmlAttributes(new { @class = "form-control" })
                            )
                    </div>
                    <div class="col-md-6 col-sm-12">
                        @Html.LabelFor(l => l.TotalPrice)
                        @(Html.Kendo().TextBoxFor(m => m.TotalPrice).HtmlAttributes(new { @class = "form-control", @readonly = true }))
                    </div>
                </div>
                @*<div class="form-group row">
            <div class="col-md-6 col-sm-12">
            @Html.LabelFor(l => l.CoorX, "Coordinate X")
            @Html.TextBoxFor(m => m.CoorX, new { @class = "form-control k-textbox", placeholder = "Coordinate X", @Type="number" })
            </div>
            <div class="col-md-6 col-sm-12">
            @Html.LabelFor(l => l.CoorY, "Coordinate Y")
            @Html.TextBoxFor(m => m.CoorY, new { @class = "form-control k-textbox", placeholder = "Coordinate Y", @Type="number" })
            </div>
            </div>
            <div class="form-group row">
            <div class="col-lg-12 col-md-12 col-sm-12">
            @Html.LabelFor(l => l.PageNumber, "Page Number")
            @Html.TextBoxFor(m => m.PageNumber, new { @class = "form-control k-textbox", placeholder = "Page Number", @Type="number" })
            </div>
            </div>*@
                <div class="form-row">
                    <div class="col-md-12">
                        <button type="submit" id="submitBuy" class="btn btn-block btn-success">
                            <span class="fa fa-save" aria-hidden="true"></span>  Submit
                        </button>
                    </div>
                </div>

            </div>

        }

    </div>
</div>

<script type="text/javascript">
    $("#submitBuy").click(function (e) {
        e.preventDefault();
        const validator = $("#frmBuyMaterai").kendoValidator(Starbridges.validatorOptions).data("kendoValidator");
        if (validator.validate()) {
            $("#submitBuy").disableBtn();
            $.ajax({
                type: "POST",
                url: '@Url.Action("Submit","Materai")',
                data: $("#frmBuyMaterai").serialize(),
                success: function (result) {
                    if (result.message != null) {
                        $("#submitBuy").enableBtn();
                        if (result.isSucceed) {
                            $("#popUp").data("kendoWindow").close();
                            swal("Data Saved!", result.message, "success");
                        } else {
                            swal("Something wrong!", result.message, "error");
                        }
                    }
                }
            });
        }
    });
</script>