﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>What would you like to do?</p>
@*    <button class="btn btn-primary" id="buy">Buy Quota E-Materai</button>*@
    <button class="btn btn-success" id="stamp">Stamp E-Materai</button>
</div>
<div id="popUp"></div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
        });
        var windowOptions = {
            animation: false,
            modal: true,
            width: 600,
            height: 300,
            visible: false,
            title: 'Buy Quota for E-Materai'
        };
        $("#popUp").kendoWindow(windowOptions);

        $("#buy").click(function (e) {
            e.preventDefault();
            $("#popUp").data("kendoWindow").refresh({
                url: "@Url.Action("BuyQuota")",
                //data: { userName: userName }
            });

            $("#popUp").data("kendoWindow").center().open();
        });

        $("#stamp").click(function (e) {
            e.preventDefault();
            window.location.href = "@Url.Action("Index", "Materai")";
        });

        function change(e) {
            var harga = 10000;
            var quota = $("#Quota").data("kendoNumericTextBox").value() * 1;
            $("#TotalPrice").data("kendoTextBox").value(harga * quota);
        }
    </script>
}