﻿@model DigitalSign.ViewModels.Security.LoginRequestViewModel;

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Sign In - E Materai";
}

<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2">Welcome!</h1>
                                <h2 class="h4 text-gray-900 mb-4">To E-Materai . . .</h2>
                            </div>
                            <form class="user" method="post" id="Form-Login">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" name="Username" id="Username" placeholder="Enter Username...">
                                    <span data-for="Username" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" name="Password" id="Password" placeholder="Password">
                                    <span data-for="Password" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-danger btn-user btn-block">
                                    Login
                                </button>
                            </form>
                            <hr>
                            @*<div class="text-center">
                                <a class="small" asp-action="ForgotPassword" asp-controller="Auth">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" asp-action="Register" asp-controller="Beranda">Create an Account!</a>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
