﻿@{
    ViewData["Title"] = "Error Page";
}

<div class="text-center" style="position: absolute;top: 50%;left: 50%;transform: translate(-25%, -75%);">
    <h1 class="display-4">Oohh nooo :(</h1>
    <p>You don't have rights to access this page, please contact your administrator!</p>
</div>